@model Systematycznosc.ViewModels.LoginViewModel
@using Systematycznosc.ViewModels
@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/EmptyPage.cshtml";
}


<header class=" text-white text-center">
    <div class=" d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; text-align:center;" id="Opener">Logowanie</h1>
        <!-- Icon Divider -->
        <div class="divider-custom " style="">
            <div class="divider-custom-line" style="background-color:white;"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white;"></i>
            </div>
            <div class="divider-custom-line" style="background-color:white;"></div>
        </div>
        <div style="color:; font-size:37px; text-align:center;">Witaj na stronie</div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "", style = "padding-top:5px;" }))
        {
            @Html.AntiForgeryToken()
            <div id="container">
                <form>
                    @if (!Html.ViewData.ModelState.IsValid)
                    {<div class="text-danger">
                            Nieudana próba zalogowania.
                        </div>}
                    @Html.TextBoxFor(m => m.Email, new { @type = "text", placeholder = "E-mail", onfocus = "this.placeholder=''", onblur = "this.placeholder='E-mail'" })
                    @Html.ValidationMessageFor(model => model.Email)
                    @Html.PasswordFor(m => m.Password, new { id = "customerEmailId", @type = "password", placeholder = "hasło", onfocus = "this.placeholder=''", onblur = "this.placeholder='hasło'" })
                    @Html.ValidationMessageFor(model => model.Password)
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @type = "", style = "color:black;" })
                    @Html.ActionLink("Zarejestruj", "Register", "Account", new { style = "color:black;" })
                    <div class="text-center mt-4">
                        <input type="submit" value="Zaloguj się" class="btn btn-xl btn-outline-dark">
                    </div>
                </form>
            </div>
        }
    </div>
</header>

