@model Systematycznosc.ViewModels.RegisterViewModel
@using Systematycznosc.ViewModels
@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/EmptyPage.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div id="container">
        <form>
            @if (!Html.ViewData.ModelState.IsValid)
                {<div class="text-danger">
                        Adres e-mail: @Model.Email.ToString() jest już zajęty.
                    </div>}
            @Html.TextBoxFor(m => m.Email, new { @type = "text", placeholder = "E-mail", onfocus = "this.placeholder=''", onblur = "this.placeholder='E-mail'" })
            @Html.ValidationMessageFor(model => model.Email)
            @Html.PasswordFor(m => m.Password, new { @type = "password", placeholder = "hasło", onfocus = "this.placeholder=''", onblur = "this.placeholder='hasło'" })
            @Html.ValidationMessageFor(model => model.Password)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @type = "password", placeholder = "Potwierdź hasło", onfocus = "this.placeholder=''", onblur = "this.placeholder='Potwierdź hasło'" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
            <input type="submit" class="btn btn-default" value="Zarejestruj" />
            @Html.ActionLink("Zaloguj się", "Index", "Home")
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
