@model Systematycznosc.ViewModels.RegisterViewModel
@using Systematycznosc.ViewModels
@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/EmptyPage.cshtml";
}
<header class="text-white text-center">
    <div class=" d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0 openTheard">Rejestracja</h1>
        <div class="divider-custom " style="">
            <div class="divider-custom-line" style="background-color:white;"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white;"></i>
            </div>
            <div class="divider-custom-line" style="background-color:white;"></div>
        </div>
        <div class="subtheard">W pełni darmowa</div>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal pb-5", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div id="container">
                <form>
                    @*@if (!Html.ViewData.ModelState.IsValid)
                        {<div class="text-danger">
                                Adres e-mail: @Model.Email.ToString() jest już zajęty.
                            </div>}*@
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @type = "text", placeholder = "E-mail", onfocus = "this.placeholder=''", onblur = "this.placeholder='E-mail'" })
                    @Html.ValidationMessageFor(model => model.Email, null, new { style = "color:red" })
                    @Html.PasswordFor(m => m.Password, new { @type = "password", placeholder = "hasło", onfocus = "this.placeholder=''", onblur = "this.placeholder='hasło'" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { style = "color:red" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @type = "password", placeholder = "Potwierdź hasło", onfocus = "this.placeholder=''", onblur = "this.placeholder='Potwierdź hasło'" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { style = "color:red" })
                    <div class="text-center mt-4">
                        <input type="submit" value="Zarejestruj się" class="btn btn-xl btn-outline-dark">
                    </div>
                    @Html.ActionLink("Zaloguj się", "Login", "Account", new { style = "color:black" })
                </form>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</header>