@using Systematycznosc.Models
@model Systematycznosc.ViewModels.QuestionViewModel

    <style>
        body {
            background-color: white;
        }
    </style>

<div class="d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <h1 class="masthead-heading text-uppercase mb-0 openTheard">Pytania Poranne</h1>

    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>

    <div id="morningQuestionTable">@{Html.RenderPartial("_MorningQuestionTable", Model);}</div>

    @{ if (Model.MorningQuestions.Count() < 12)
        {
            using (Ajax.BeginForm("Index", "Question", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "morningQuestionTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "morningQuestionTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px", id = "addformMorning" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                {
                    <div class="form-group">
                        <div class="col-md-10" style="margin-left: auto; margin-right: auto; float: none!important;">
                            @Html.Label("Pytanie poranne", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none; color:white" })
                            @Html.TextBox("morningQuestionValue", null, new { placeholder = "Tu wpisz pytanie poranne", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;", required = string.Empty })
                        </div>
                    </div>
                }
                <div style="padding-bottom:50px; padding-top:20px;">
                    <div class="saveButtonDiv">
                        <button style="font-size:20px; color:white;" type="submit" class="btn btn-xl btn-outline-info btn-secondary" id="saveButtonMorning">Zapisz</button>
                    </div>
                    <div class="saveButtonDiv" id="panelMorning">
                        @Html.ActionLink("Panel edycyjny", "MorningQuestionEdit", "Question", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
                    </div>
                </div>
            }
        }
        else
        {
            <div style="font-size:25px; color:black;" class="mr-1">Osiągnięto maksymalną ilość pytań porannych, wejdź w opcje by edytować</div>
        }
    }
    <div class="saveButtonDiv" id="panelMorning2">
        @Html.ActionLink("Panel edycyjny", "MorningQuestionEdit", "Question", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
    </div>
</div>

<div class="d-flex align-items-center flex-column portfolio mb-0 bg-white">

    <h1 class="masthead-heading text-uppercase mb-0 openTheard">Pytania Wieczorne</h1>

    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <div id="eveningQuestionTable">@{Html.RenderPartial("_EveningQuestionTable", Model);}</div>

    @{ if (Model.EveningQuestions.Count() < 12)
        {
            using (Ajax.BeginForm("Index", "Question", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "eveningQuestionTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "eveningQuestionTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px", id = "addformEvening" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                {
                    <div class="form-group">
                        <div class="col-md-10" style="margin-left: auto; margin-right: auto; float: none!important;">
                            @Html.Label("Pytanie wieczorne", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                            @Html.TextBox("eveningQuestionValue", null, new { placeholder = "Tu wpisz pytanie wieczorne", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;", required = string.Empty })
                        </div>
                    </div>
                }
                <div style="padding-bottom:50px; padding-top:20px;">
                    <div class="saveButtonDiv">
                        <button style="font-size:20px; color:white;" type="submit" class="btn btn-xl btn-outline-info btn-secondary" id="saveButtonEvening">Zapisz</button>
                    </div>
                    <div class="saveButtonDiv" id="panelEvening">
                        @Html.ActionLink("Panel edycyjny", "EveningQuestionEdit", "Question", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
                    </div>
                </div>
            }
        }
        else
        {
            <div style="font-size: 25px; color: black;" class="mr-1">Osiągnięto maksymalną ilość pytań wieczornych, wejdź w opcje by edytować</div>
        }
    }
    <div class="saveButtonDiv" id="panelEvening2">
        @Html.ActionLink("Panel edycyjny", "EveningQuestionEdit", "Question", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
    </div>
</div>

@section Scripts
{
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    var amountOfMorningQuestions = @Model.MorningQuestions.Count();
    var amountOfEveningQuestions = @Model.EveningQuestions.Count();

    $(document).ready(function () {
        if (@Model.MorningQuestions.Count() <= 11) {
            $("#panelMorning2").hide();
        }
         if (@Model.MorningQuestions.Count() == 0) {
            $("#panelMorning").hide();
        }

        if (@Model.EveningQuestions.Count() <= 11) {
            $("#panelEvening2").hide();
        }
         if (@Model.EveningQuestions.Count() == 0) {
            $("#panelEvening").hide();
        }
    });

  $('#saveButtonMorning').click(function (e) {
        $.ajax({
            success: function (data) {
                amountOfMorningQuestions++;
                if (amountOfMorningQuestions > 11) {
                    $("#addformMorning").html("Osiągnięto maksymalną ilość pytań porannych, wejdź w opcje by edytować");
                    $("#panelMorning2").show();
                }
                if (amountOfMorningQuestions > 0) {
                    $("#panelMorning").show();
                }
            },
        });
  });

      $('#saveButtonEvening').click(function (e) {
        $.ajax({
            success: function (data) {
                amountOfEveningQuestions++;

                if (amountOfEveningQuestions > 11) {
                    $("#addformEvening").html("Osiągnięto maksymalną ilość pytań wieczornych, wejdź w opcje by edytować");
                    $("#panelEvening2").show();
                }
                if (amountOfEveningQuestions > 0) {
                    $("#panelEvening").show();
                }
            },
        });
    });
</script>
