
@using Systematycznosc.Migrations
@using Systematycznosc.Models
@model Systematycznosc.ViewModels.QuestionViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body {
            background-color: #1abc9c
        }
    </style>
}
<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <h1 class="masthead-heading text-uppercase mb-0" id="Opener">MorningQuestiones</h1>
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>

    @{using (Html.BeginForm("MorningQuestionEdit", "Question", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-s-5 col-md-11 col-lg-6", role = "form", style = " text-align: center;font-size:35px; " }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            for (int i = 0; i < Model.MorningQuestions.Count; i++)
            {
                <div class="form-group" style="text-align: center;">
                    <div class="col-md-10" style="margin-left: auto; margin-right: auto; float: none !important;">
                        @Html.Label("Zasada credo:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                        @Html.HiddenFor(m => m.MorningQuestions[i].MorningQuestionId)
                        @Html.TextBoxFor(m => m.MorningQuestions[i].MorningQuestionValue, null, new { placeholder = "Tu wpisz pytanie poranne", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;", name = "credoValue" })
                        @Html.HiddenFor(m => m.MorningQuestions[i].UserProfile)
                        @Html.HiddenFor(m => m.MorningQuestions[i].UserProfileId)
                    </div>
                </div>
            }
            <div style="padding-bottom:50px; padding-top:20px;">
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:20px; color:white;" type="submit" value="Log in" class="btn btn-xl btn-outline-info btn-secondary">
                        Zapisz
                    </button>
                </div>
                <div style="padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    @Html.ActionLink("Powrót do pytań", "Index", "Question", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
                </div>
            </div>

        }
    }
</div>
