@model Systematycznosc.ViewModels.BirthdayViewModelWrapper
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="CredoDiv" style="font-size:20px;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <table id="table_id" class="table table-active" style="max-width:1150px;">
        <thead>
            <tr>
                <th>Imię:</th>
                <th>Urodziny:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName1</td>
                <td>
                    @if (Model.FamilyBirthdayViewModel.FamilyBirthday1.HasValue)
                        {
                @Model.FamilyBirthdayViewModel.FamilyBirthday1.Value.ToString("MM/dd/yyyy")
            }
                </td>
            </tr>
            <tr>
                <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName2</td>
                <td>
                    @if (Model.FamilyBirthdayViewModel.FamilyBirthday2.HasValue)
                    {
                        @Model.FamilyBirthdayViewModel.FamilyBirthday2.Value.ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
            <tr>
                <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName3</td>
                <td>
                    @if (Model.FamilyBirthdayViewModel.FamilyBirthday3.HasValue)
                    {
                        @Model.FamilyBirthdayViewModel.FamilyBirthday3.Value.ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
            <tr>
                <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName4</td>
                <td>
                    @if (Model.FamilyBirthdayViewModel.FamilyBirthday4.HasValue)
                    {
                        @Model.FamilyBirthdayViewModel.FamilyBirthday4.Value.ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
            <tr>
                <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName5</td>
                <td>
                    @if (Model.FamilyBirthdayViewModel.FamilyBirthday5.HasValue)
                    {
                        @Model.FamilyBirthdayViewModel.FamilyBirthday5.Value.ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
            <tr>
                <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName6</td>
                <td>
                    @if (Model.FamilyBirthdayViewModel.FamilyBirthday6.HasValue)
                    {
                        @Model.FamilyBirthdayViewModel.FamilyBirthday6.Value.ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
            <tr>
                <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName7</td>
                <td>
                    @if (Model.FamilyBirthdayViewModel.FamilyBirthday7.HasValue)
                    {
                        @Model.FamilyBirthdayViewModel.FamilyBirthday7.Value.ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
            <tr>
                <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName8</td>
                <td>
                    @if (Model.FamilyBirthdayViewModel.FamilyBirthday8.HasValue)
                    {
                        @Model.FamilyBirthdayViewModel.FamilyBirthday8.Value.ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
            <tr>
                <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName9</td>
                <td>
                    @if (Model.FamilyBirthdayViewModel.FamilyBirthday9.HasValue)
                    {
                        @Model.FamilyBirthdayViewModel.FamilyBirthday9.Value.ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
            <tr>
                <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName10</td>
                <td>
                    @if (Model.FamilyBirthdayViewModel.FamilyBirthday10.HasValue)
                    {
                        @Model.FamilyBirthdayViewModel.FamilyBirthday10.Value.ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
        </tbody>
    </table>


</div>
@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {

        $('#table_id').DataTable({
            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
    });
</script>