@model Systematycznosc.ViewModels.CredoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body {
            background-color: #1abc9c
        }
    </style>
}
<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px;" id="Opener">Credoes</h1>

    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>
    @{using (Html.BeginForm("CredoEdit", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-s-5 col-md-11 col-lg-6", role = "form", style = " text-align: center;font-size:35px; " }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            //for (int i=0;i<9; i++)
            foreach (var credo in Model.Credos)
            {
                <div class="form-group" style="text-align: center;">
                    <div class="col-md-10" style="margin-left: auto; margin-right: auto; float: none !important;">
                        @Html.LabelFor(m => credo.CredoId, "Credoes nr:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                        @Html.TextBoxFor(m => credo.CredoId, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                        @Html.ValidationMessageFor(m => credo.CredoId, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            <div style="padding-bottom:50px; padding-top:20px;">
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="Log in" class="btn btn-success">Zapisz</button>
                </div>
                <div style="padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    @Html.ActionLink("Powrót do Credoes", "Credo", "Home", null, new { @class = "btn bg-success icon-user nav_bar_first_small_screen", style = "color:white; font-size:40px;" })
                </div>
            </div>
            @*foreach (var credo in Model.Credoess)
                {
                    <div class="form-group" style="text-align: center;">
                        <div class="col-md-10" style="margin-left: auto; margin-right: auto; float: none !important;">
                            @Html.LabelFor(m => m.Credoess, "Credoes nr 1:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                            @Html.TextBoxFor(m => m.Credoess, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                            @Html.ValidationMessageFor(m => m.Credoess, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }*@
        }
    }

    @*@using (Html.BeginForm("CredoesEdit", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-s-5 col-md-11 col-lg-6", role = "form", style = " text-align: center;font-size:35px; " }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.Credoes1, "Credoes nr 1:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.Credoes1, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                    @Html.ValidationMessageFor(m => m.Credoes1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.Credoes2, "Credoes nr 2:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.Credoes2, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                    @Html.ValidationMessageFor(m => m.Credoes2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.Credoes3, "Credoes nr 3:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.Credoes3, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                    @Html.ValidationMessageFor(m => m.Credoes3, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.Credoes4, "Credoes nr 4:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.Credoes4, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                    @Html.ValidationMessageFor(m => m.Credoes4, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.Credoes5, "Credoes nr 5:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.Credoes5, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                    @Html.ValidationMessageFor(m => m.Credoes5, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.Credoes6, "Credoes nr 6:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.Credoes6, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                    @Html.ValidationMessageFor(m => m.Credoes6, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.Credoes1, "Credoes nr 7:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.Credoes7, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                    @Html.ValidationMessageFor(m => m.Credoes7, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.Credoes8, "Credoes nr 8:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.Credoes8, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                    @Html.ValidationMessageFor(m => m.Credoes8, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.Credoes9, "Credoes nr 9:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.Credoes9, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                    @Html.ValidationMessageFor(m => m.Credoes9, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.Credoes10, "Credoes nr 10:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none; padding-left:0px;" })
                    @Html.TextBoxFor(m => m.Credoes10, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                    @Html.ValidationMessageFor(m => m.Credoes10, "", new { @class = "text-danger" })
                </div>
            </div>
            <div style="padding-bottom:50px; padding-top:20px;">
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="Log in" class="btn btn-success">Zapisz</button>
                </div>
                <div style="padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    @Html.ActionLink("Powrót do Credoes", "Credoes", "Home", null, new { @class = "btn bg-success icon-user nav_bar_first_small_screen", style = "color:white; font-size:40px;" })
                </div>
            </div>
        }*@
</div>