@model Systematycznosc.ViewModels.CredoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="CredoDiv">
    <div class="numberlist">
        <div style="color:gold; font-size:55px; text-align:center;">CREDO</div>
        <div style="color:white; font-size:37px; text-align:center;">Najważniejszy rzeczy którymi kierujesz się każdego dnia:</div>
        <ol>
            @if (Model.Credo1 != null)
            {
                <li><a href="">@Model.Credo1</a></li>
            }
            @if (Model.Credo2 != null)
            {
                <li><a href="">@Model.Credo2</a></li>
            }
            @if (Model.Credo3 != null)
            {
                <li><a href="">@Model.Credo3</a></li>
            }
            @if (Model.Credo4 != null)
            {
                <li><a href="">@Model.Credo4</a></li>
            }
            @if (Model.Credo5 != null)
            {
                <li><a href="">@Model.Credo5</a></li>
            }
            @if (Model.Credo6 != null)
            {
                <li><a href="">@Model.Credo6</a></li>
            }
            @if (Model.Credo7 != null)
            {
                <li><a href="">@Model.Credo7</a></li>
            }
            @if (Model.Credo8 != null)
            {
                <li><a href="">@Model.Credo8</a></li>
            }
            @if (Model.Credo9 != null)
            {
                <li><a href="">@Model.Credo9</a></li>
            }
            @if (Model.Credo10 != null)
            {
                <li><a href="">@Model.Credo10</a></li>
            }

        </ol>
    </div>
    <a href="@Url.Action("CredoEdit", "Home")" id="HoverNone">
        <div class="glyphicon glyphicon-plus-sign " style="font-size: 150px; display:block; text-align:center; color: gold; text-decoration:none;"></div>
    </a>
</div>

