@model Systematycznosc.ViewModels.GoalsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body {
            background-color: #1abc9c
        }
    </style>
}


<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; text-align:center;" id="Opener">Cele dzienne</h1>


    <!-- Icon Divider -->
    <div class="divider-custom divider-light" style="">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>
    <div style="font-size:37px; text-align:center; padding-bottom:50px;">Warto je spełniać</div>
</div>
<div class=" d-flex align-items-center flex-column" style="background-color:white!important;">
    @{ if (Model.AGoalName != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">@Model.AGoalName</h1>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px;">@Model.AGoalQuestion</div>
            using (Ajax.BeginForm("Goals", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "AGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "AGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.RadioButtonFor(model => model.AGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                    @Html.RadioButtonFor(model => model.AGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                </div>
                <div>
                    @Html.RadioButtonFor(model => model.AGoal1, "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                    @Html.RadioButtonFor(model => model.AGoal1, "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                </div>
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="AGoal" class="btn btn-success" name="submitButton" id="AGoalSave">Zapisz</button>
                </div>
            }
            <div id="AGoalTable">@{Html.RenderPartial("_AGoalTable", Model);}</div>
        }
        else
        { <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">Twój cel nr 1</h1>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px;">Pytanie do celu pierwszego</div>}
    }
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("GoalsEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>
<div class=" d-flex align-items-center flex-column" style="">
    @{ if (Model.BGoalName != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:white!important;">@Model.BGoalName</h1>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px; color:white;">@Model.BGoalQuestion</div>
            using (Ajax.BeginForm("Goals", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "BGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "BGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.RadioButtonFor(model => model.BGoal1, "Tak", false)@Html.Label("Tak")
                    @Html.RadioButtonFor(model => model.BGoal1, "Nie", false)@Html.Label("Nie")
                </div>
                <div>
                    @Html.RadioButtonFor(model => model.BGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                    @Html.RadioButtonFor(model => model.BGoal1, "Nagroda", false)@Html.Label("Nagroda")
                </div>
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="BGoal" class="btn btn-success" name="submitButton" id="BGoalSave">Zapisz</button>
                </div>
            }
            <div id="BGoalTable">@{Html.RenderPartial("_BGoalTable", Model);}</div>
        }
        else
        { <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:white!important;">Twój cel nr 2</h1>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px; color:white;">Pytanie do celu drugiego</div>}
    }
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("GoalsEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>
<div class=" d-flex align-items-center flex-column" style="background-color:white!important;">
    @{ if (Model.CGoalName != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">@Model.CGoalName</h1>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px;">@Model.CGoalQuestion</div>
            using (Ajax.BeginForm("Goals", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "CGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.RadioButtonFor(model => model.CGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                    @Html.RadioButtonFor(model => model.CGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                </div>
                <div>
                    @Html.RadioButtonFor(model => model.CGoal1, "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                    @Html.RadioButtonFor(model => model.CGoal1, "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                </div>
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="CGoal" class="btn btn-success" name="submitButton" id="CGoalSave">Zapisz</button>
                </div>
            }
            <div id="CGoalTable">@{Html.RenderPartial("_CGoalTable", Model);}</div>
        }
        else
        { <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">Twój cel nr 3</h1>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px;">Pytanie do celu trzeciego</div>}
    }
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("GoalsEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>
<div class=" d-flex align-items-center flex-column" style="">
    @{ if (Model.DGoalName != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:white!important;">@Model.DGoalName</h1>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px; color:white;">@Model.DGoalQuestion</div>
            using (Ajax.BeginForm("Goals", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "DGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.RadioButtonFor(model => model.DGoal1, "Tak", false)@Html.Label("Tak")
                    @Html.RadioButtonFor(model => model.DGoal1, "Nie", false)@Html.Label("Nie")
                </div>
                <div>
                    @Html.RadioButtonFor(model => model.DGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                    @Html.RadioButtonFor(model => model.DGoal1, "Nagroda", false)@Html.Label("Nagroda")
                </div>
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="DGoal" class="btn btn-success" name="submitButton" id="DGoalSave">Zapisz</button>
                </div>
            }
            <div id="DGoalTable">@{Html.RenderPartial("_DGoalTable", Model);}</div>
        }
        else
        { <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:white!important;">Twój cel nr 4</h1>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px; color:white;">Pytanie do celu czwartego</div>}
    }
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("GoalsEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>
<div class=" d-flex align-items-center flex-column" style="background-color:white!important;">
    @{ if (Model.EGoalName != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">@Model.EGoalName</h1>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px;">@Model.EGoalQuestion</div>
            using (Ajax.BeginForm("Goals", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "EGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "EGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.RadioButtonFor(model => model.EGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                    @Html.RadioButtonFor(model => model.EGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                </div>
                <div>
                    @Html.RadioButtonFor(model => model.EGoal1, "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                    @Html.RadioButtonFor(model => model.EGoal1, "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                </div>
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="EGoal" class="btn btn-success" name="submitButton" id="EGoalSave">Zapisz</button>
                </div>
            }
            <div id="EGoalTable">@{Html.RenderPartial("_EGoalTable", Model);}</div>
        }
        else
        { <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">Twój cel nr 5</h1>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px;">Pytanie do celu piątego</div>}
    }
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("GoalsEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>
<div class=" d-flex align-items-center flex-column" style="">
    @{ if (Model.FGoalName != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:white!important;">@Model.FGoalName</h1>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px; color:white;">@Model.FGoalQuestion</div>
            using (Ajax.BeginForm("Goals", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "FGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "FGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.RadioButtonFor(model => model.FGoal1, "Tak", false)@Html.Label("Tak")
                    @Html.RadioButtonFor(model => model.FGoal1, "Nie", false)@Html.Label("Nie")
                </div>
                <div>
                    @Html.RadioButtonFor(model => model.FGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                    @Html.RadioButtonFor(model => model.FGoal1, "Nagroda", false)@Html.Label("Nagroda")
                </div>
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="FGoal" class="btn btn-success" name="submitButton" id="FGoalSave">Zapisz</button>
                </div>
            }
            <div id="FGoalTable">@{Html.RenderPartial("_FGoalTable", Model);}</div>
        }
        else
        { <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:white!important;">Twój cel nr 6</h1>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px; color:white;">Pytanie do celu szóstego</div>}
    }
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("GoalsEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>
<div class=" d-flex align-items-center flex-column" style="background-color:white!important;">
    @{ if (Model.GGoalName != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">@Model.GGoalName</h1>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px;">@Model.GGoalQuestion</div>
            using (Ajax.BeginForm("Goals", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "GGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "GGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.RadioButtonFor(model => model.GGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                    @Html.RadioButtonFor(model => model.GGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                </div>
                <div>
                    @Html.RadioButtonFor(model => model.GGoal1, "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                    @Html.RadioButtonFor(model => model.GGoal1, "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                </div>
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="GGoal" class="btn btn-success" name="submitButton" id="GGoalSave">Zapisz</button>
                </div>
            }
            <div id="GGoalTable">@{Html.RenderPartial("_GGoalTable", Model);}</div>
        }
        else
        { <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">Twój cel nr 7</h1>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px;">Pytanie do celu siódmego</div>}
    }
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("GoalsEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>
<div class=" d-flex align-items-center flex-column" style="">
    @{ if (Model.HGoalName != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:white!important;">@Model.HGoalName</h1>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px; color:white;">@Model.HGoalQuestion</div>
            using (Ajax.BeginForm("Goals", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "HGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "HGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.RadioButtonFor(model => model.HGoal1, "Tak", false)@Html.Label("Tak")
                    @Html.RadioButtonFor(model => model.HGoal1, "Nie", false)@Html.Label("Nie")
                </div>
                <div>
                    @Html.RadioButtonFor(model => model.HGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                    @Html.RadioButtonFor(model => model.HGoal1, "Nagroda", false)@Html.Label("Nagroda")
                </div>
                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="HGoal" class="btn btn-success" name="submitButton" id="HGoalSave">Zapisz</button>
                </div>
            }
            <div id="HGoalTable">@{Html.RenderPartial("_HGoalTable", Model);}</div>
        }
        else
        { <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:white!important;">Twój cel nr 8</h1>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px; color:white;">Pytanie do celu ósmego</div>}
    }
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("GoalsEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    //$(document).ready(function () {
    //    $.fn.dataTable.moment('DD/MM/YY');
    //    $('#table_id').DataTable({
    //        paging: false,
    //        searching: false,
    //        info: false,
    //        "order": [[1, "desc"]],
    //    });
    //    $.fn.dataTable.moment('DD/MM/YY');
    //    $('#table_id2').DataTable({

    //        paging: false,
    //        searching: false,
    //        info: false,
    //        "order": [[1, "desc"]],
    //    });
    //    $.fn.dataTable.moment('DD/MM/YY');
    //    $('#table_id3').DataTable({
    //        paging: false,
    //        searching: false,
    //        info: false,
    //        "order": [[1, "asc"]],
    //    });
    //});
    //$('#AGoalSave').click(function () {
    //    $('#table_id').DataTable({
    //        paging: false,
    //        searching: false,
    //        info: false,
    //        "order": [[1, "desc"]],
    //    });
    //});

</script>