@model Systematycznosc.ViewModels.GoalsViewModelWrapper

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body {
            background-color: #1abc9c
        }
    </style>
}


<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; text-align:center;" id="Opener">Cele dzienne</h1>


    <!-- Icon Divider -->
    <div class="divider-custom divider-light" style="">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>
    <div style="font-size:37px; text-align:center; padding-bottom:50px;">Warto je spełniać</div>
</div>
<div class=" d-flex align-items-center flex-column" style="background-color:white!important">
    @{ if (Model.Goals1ViewModel.GoalName != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">@Model.Goals1ViewModel.GoalName</h1>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div style="font-size:37px; text-align:center; padding-bottom:50px;">@Model.Goals1ViewModel.GoalQuestion</div>
            using (Html.BeginForm("Goals", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.RadioButtonFor(model => model.Goals1ViewModel.Goal1, "Tak", false)@Html.Label("Tak")
                @Html.RadioButtonFor(model => model.Goals1ViewModel.Goal1, "Nie", false)@Html.Label("Nie")

                <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                    <button style="font-size:40px;" type="submit" value="Log in" class="btn btn-success">Zapisz</button>
                </div>
            }
            <table id="table_id" class="table table-info table-hover" style="font-size:18px; width:auto;">
                <thead>
                    <tr>
                        <th style="width: 300px">Data:</th>
                        <th style="width: 300px">Status:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @{ DateTime data1 = DateTime.Today;
                            if (Model.Goals1ViewModel.GoalDate1 == data1)
                            {
                                <td>
                                    <div>@data1.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal1</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate2 == data1)
                            {
                                <td>
                                    <div>@data1.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal2</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate3 == data1)
                            {
                                <td>
                                    <div>@data1.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal3</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate4 == data1)
                            {
                                <td>
                                    <div>@data1.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal4</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate5 == data1)
                            {
                                <td>
                                    <div>@data1.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal5</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate6 == data1)
                            {
                                <td>
                                    <div>@data1.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal6</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate7 == data1)
                            {
                                <td>
                                    <div>@data1.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal7</div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div>@data1.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>Nie</div>
                                </td>
                            }

                        }
                    </tr>
                    <tr>
                        @{ DateTime data2 = DateTime.Today.AddDays(-1); ;
                            if (Model.Goals1ViewModel.GoalDate1 == data2)
                            {
                                <td>
                                    <div>@data2.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal1</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate2 == data2)
                            {
                                <td>
                                    <div>@data2.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal2</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate3 == data2)
                            {
                                <td>
                                    <div>@data2.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal3</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate4 == data2)
                            {
                                <td>
                                    <div>@data2.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal4</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate5 == data2)
                            {
                                <td>
                                    <div>@data2.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal5</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate6 == data2)
                            {
                                <td>
                                    <div>@data2.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal6</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate7 == data2)
                            {
                                <td>
                                    <div>@data2.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal7</div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div>@data2.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>Nie</div>
                                </td>
                            } }
                    </tr>
                    <tr>
                        @{ DateTime data3 = DateTime.Today.AddDays(-2); ;
                            if (Model.Goals1ViewModel.GoalDate1 == data3)
                            {
                                <td>
                                    <div>@data3.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal1</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate2 == data3)
                            {
                                <td>
                                    <div>@data3.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal2</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate3 == data3)
                            {
                                <td>
                                    <div>@data3.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal3</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate4 == data3)
                            {
                                <td>
                                    <div>@data3.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal4</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate5 == data3)
                            {
                                <td>
                                    <div>@data3.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal5</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate6 == data3)
                            {
                                <td>
                                    <div>@data3.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal6</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate7 == data3)
                            {
                                <td>
                                    <div>@data3.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal7</div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div>@data3.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>Nie</div>
                                </td>
                            } }
                    </tr>
                    <tr>
                        @{ DateTime data4 = DateTime.Today.AddDays(-3); ;
                            if (Model.Goals1ViewModel.GoalDate1 == data4)
                            {
                                <td>
                                    <div>@data4.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal1</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate2 == data4)
                            {
                                <td>
                                    <div>@data4.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal2</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate3 == data4)
                            {
                                <td>
                                    <div>@data4.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal3</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate4 == data4)
                            {
                                <td>
                                    <div>@data4.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal4</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate5 == data4)
                            {
                                <td>
                                    <div>@data4.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal5</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate6 == data4)
                            {
                                <td>
                                    <div>@data4.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal6</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate7 == data4)
                            {
                                <td>
                                    <div>@data4.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal7</div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div>@data3.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>Nie</div>
                                </td>
                            } }
                    </tr>
                    <tr>
                        @{ DateTime data5 = DateTime.Today.AddDays(-4); ;
                            if (Model.Goals1ViewModel.GoalDate1 == data5)
                            {
                                <td>
                                    <div>@data5.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal1</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate2 == data5)
                            {
                                <td>
                                    <div>@data5.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal2</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate3 == data5)
                            {
                                <td>
                                    <div>@data5.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal3</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate4 == data5)
                            {
                                <td>
                                    <div>@data5.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal4</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate5 == data5)
                            {
                                <td>
                                    <div>@data5.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal5</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate6 == data5)
                            {
                                <td>
                                    <div>@data5.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal6</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate7 == data5)
                            {
                                <td>
                                    <div>@data5.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal7</div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div>@data5.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>Nie</div>
                                </td>
                            } }
                    </tr>
                    <tr>
                        @{ DateTime data6 = DateTime.Today.AddDays(-5); ;
                            if (Model.Goals1ViewModel.GoalDate1 == data6)
                            {
                                <td>
                                    <div>@data6.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal1</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate2 == data6)
                            {
                                <td>
                                    <div>@data6.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal2</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate3 == data6)
                            {
                                <td>
                                    <div>@data6.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal3</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate4 == data6)
                            {
                                <td>
                                    <div>@data6.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal4</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate5 == data6)
                            {
                                <td>
                                    <div>@data6.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal5</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate6 == data6)
                            {
                                <td>
                                    <div>@data6.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal6</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate7 == data6)
                            {
                                <td>
                                    <div>@data6.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal7</div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div>@data6.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>Nie</div>
                                </td>
                            } }
                    </tr>
                    <tr>
                        @{ DateTime data7 = DateTime.Today.AddDays(-6); ;
                            if (Model.Goals1ViewModel.GoalDate1 == data7)
                            {
                                <td>
                                    <div>@data7.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal1</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate2 == data7)
                            {
                                <td>
                                    <div>@data7.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal2</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate3 == data7)
                            {
                                <td>
                                    <div>@data7.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal3</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate4 == data7)
                            {
                                <td>
                                    <div>@data7.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal4</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate5 == data7)
                            {
                                <td>
                                    <div>@data7.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal5</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate6 == data7)
                            {
                                <td>
                                    <div>@data7.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal6</div>
                                </td>
                            }
                            else if (Model.Goals1ViewModel.GoalDate7 == data7)
                            {
                                <td>
                                    <div>@data7.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>@Model.Goals1ViewModel.Goal7</div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div>@data7.ToShortDateString()</div>
                                </td>
                                <td>
                                    <div>Nie</div>
                                </td>
                            } }
                    </tr>
                </tbody>
            </table>
        }
        else
        { <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">Twój cel nr 1</h1>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div style="font-size:37px; text-align:center; padding-bottom:50px;">Pytanie do celu pierwszego</div>}
    }
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("Goals1Edit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>

}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $(document).ready(function () {

        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "desc"]],
            "columnDefs": [{ "targets": 3, "type": "date-eu" }],

        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id2').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id3').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
    });
</script>
