@model UserProfileViewModelWrapper
@using Systematycznosc.ViewModels

@{
    string icon = "";
    string color = "";
    int colornumber = 2;
    string colordescription = "";
}

<header class="masthead bg-primary text-white text-center">
    <div class=" d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        @{if (Model.UserProfileViewModel.Photo != null)
            {<img src="@Model.UserProfileViewModel.Photo" class="img-circle" style="max-width:305px; padding-top:85px;">}
            else
            {
                <img src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/avataaars.svg" class="img-circle" style="max-width:305px; padding-top:85px;">}
        }
        <!-- Masthead Heading -->
        @if (Model.UserProfileViewModel.Name != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px; line-height: 50px;">Witaj @Model.UserProfileViewModel.Name</h1>
        }

        <!-- Icon Divider -->
        <div class="divider-custom divider-light" style="padding-top:20px;">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">W pomocniku systematyczności</p>

    </div>
    @{
        if (Model.IsInitialized)
        {
            <style>
                body {
                    background-color: #1abc9c
                }
            </style>
            <h1 class="masthead-heading text-uppercase mb-0" style="color: white; font-size: 55px; padding-top: 55px; line-height: 88px;">
                By spersonalizować pomocnika wejdź w zakładki u góry i dodaj interesujące Cię rzeczy
            </h1>
        }
    }

</header>

@{
    if (Model.CredoViewModel.Credos != null && Model.CredoViewModel.Credos.Any())
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };


        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;">Credoes</h1>

                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;">Najważniejszy rzeczy którymi kierujesz się każdego dnia</div>
                    <ol>

                        @{foreach (var credo in Model.CredoViewModel.Credos)

                            {
                                if (credo != null)
                                {
                                    <li>
                                        <a>
                                            @credo
                                        </a>
                                    </li>
                                }
                            }
                        }

                        @*@if (Model.CredoesViewModel.Credoes1 != null)
                            {
                                <li><a>@Model.CredoesViewModel.Credoes1</a></li>
                            }
                            @if (Model.CredoesViewModel.Credoes2 != null)
                            {
                                <li><a>@Model.CredoesViewModel.Credoes2</a></li>
                            }
                            @if (Model.CredoesViewModel.Credoes3 != null)
                            {
                                <li><a>@Model.CredoesViewModel.Credoes3</a></li>
                            }
                            @if (Model.CredoesViewModel.Credoes4 != null)
                            {
                                <li><a>@Model.CredoesViewModel.Credoes4</a></li>
                            }
                            @if (Model.CredoesViewModel.Credoes5 != null)
                            {
                                <li><a>@Model.CredoesViewModel.Credoes5</a></li>
                            }
                            @if (Model.CredoesViewModel.Credoes6 != null)
                            {
                                <li><a>@Model.CredoesViewModel.Credoes6</a></li>
                            }
                            @if (Model.CredoesViewModel.Credoes7 != null)
                            {
                                <li><a>@Model.CredoesViewModel.Credoes7</a></li>
                            }
                            @if (Model.CredoesViewModel.Credoes8 != null)
                            {
                                <li><a>@Model.CredoesViewModel.Credoes8</a></li>
                            }
                            @if (Model.CredoesViewModel.Credoes9 != null)
                            {
                                <li><a>@Model.CredoesViewModel.Credoes9</a></li>
                            }
                            @if (Model.CredoesViewModel.Credoes10 != null)
                            {
                                <li><a>@Model.CredoesViewModel.Credoes10</a></li>
                            }*@

                    </ol>
                </div>
            </div>
        </section>
    }
}

@{
    if (Model.RelationshipViewModel.Relationship1 != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.RelationshipViewModel.Relationship1 != null)
    {

        <section class="page-section @color mb-0" id="Relationship">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px; text-align:center;">Związek</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@color; font-size:37px; text-align:center;">Rzeczy o których warto pamiętać byś był szczęśliwy</div>
                    <ol>
                        @if (Model.RelationshipViewModel.Relationship1 != null)
                        {
                            <li><a>@Model.RelationshipViewModel.Relationship1</a></li>
                        }
                        @if (Model.RelationshipViewModel.Relationship2 != null)
                        {
                            <li><a>@Model.RelationshipViewModel.Relationship2</a></li>
                        }
                        @if (Model.RelationshipViewModel.Relationship3 != null)
                        {
                            <li><a>@Model.RelationshipViewModel.Relationship3</a></li>
                        }
                        @if (Model.RelationshipViewModel.Relationship4 != null)
                        {
                            <li><a>@Model.RelationshipViewModel.Relationship4</a></li>
                        }
                        @if (Model.RelationshipViewModel.Relationship5 != null)
                        {
                            <li><a>@Model.RelationshipViewModel.Relationship5</a></li>
                        }
                        @if (Model.RelationshipViewModel.Relationship6 != null)
                        {
                            <li><a>@Model.RelationshipViewModel.Relationship6</a></li>
                        }
                        @if (Model.RelationshipViewModel.Relationship7 != null)
                        {
                            <li><a>@Model.RelationshipViewModel.Relationship7</a></li>
                        }
                        @if (Model.RelationshipViewModel.Relationship8 != null)
                        {
                            <li><a>@Model.RelationshipViewModel.Relationship8</a></li>
                        }
                        @if (Model.RelationshipViewModel.Relationship9 != null)
                        {
                            <li><a>@Model.RelationshipViewModel.Relationship9</a></li>
                        }
                        @if (Model.RelationshipViewModel.Relationship10 != null)
                        {
                            <li><a>@Model.RelationshipViewModel.Relationship10</a></li>
                        }

                    </ol>
                </div>
            </div>
        </section>
    }
}

@{ if (Model.MorningQuestionsViewModel.MorningQuestions1 != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.MorningQuestionsViewModel.MorningQuestions1 != null)
    {
        <section class="page-section portfolio @color" id="MorningQuestions">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px; text-align:center;">Pytania poranne</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;">Pytania na które warto odpowiedzieć każdego poranku</div>
                    <ol>
                        @if (Model.MorningQuestionsViewModel.MorningQuestions1 != null)
                        {
                            <li><a>@Model.MorningQuestionsViewModel.MorningQuestions1</a></li>
                        }
                        @if (Model.MorningQuestionsViewModel.MorningQuestions2 != null)
                        {
                            <li><a>@Model.MorningQuestionsViewModel.MorningQuestions2</a></li>
                        }
                        @if (Model.MorningQuestionsViewModel.MorningQuestions3 != null)
                        {
                            <li><a>@Model.MorningQuestionsViewModel.MorningQuestions3</a></li>
                        }
                        @if (Model.MorningQuestionsViewModel.MorningQuestions4 != null)
                        {
                            <li><a>@Model.MorningQuestionsViewModel.MorningQuestions4</a></li>
                        }
                        @if (Model.MorningQuestionsViewModel.MorningQuestions5 != null)
                        {
                            <li><a>@Model.MorningQuestionsViewModel.MorningQuestions5</a></li>
                        }
                        @if (Model.MorningQuestionsViewModel.MorningQuestions6 != null)
                        {
                            <li><a>@Model.MorningQuestionsViewModel.MorningQuestions6</a></li>
                        }
                        @if (Model.MorningQuestionsViewModel.MorningQuestions7 != null)
                        {
                            <li><a>@Model.MorningQuestionsViewModel.MorningQuestions7</a></li>
                        }
                        @if (Model.MorningQuestionsViewModel.MorningQuestions8 != null)
                        {
                            <li><a>@Model.MorningQuestionsViewModel.MorningQuestions8</a></li>
                        }
                        @if (Model.MorningQuestionsViewModel.MorningQuestions9 != null)
                        {
                            <li><a>@Model.MorningQuestionsViewModel.MorningQuestions9</a></li>
                        }
                        @if (Model.MorningQuestionsViewModel.MorningQuestions10 != null)
                        {
                            <li><a>@Model.MorningQuestionsViewModel.MorningQuestions10</a></li>
                        }

                    </ol>
                </div>

            </div>
        </section>
    }
}

@{ if (Model.EveningQuestionsViewModel.EveningQuestion1 != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }

    if (Model.EveningQuestionsViewModel.EveningQuestion1 != null)
    {
        <section class="page-section mb-0 @color" id="EveningQuestions">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center;">Pytania wieczorne</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;">Warto na nie odpowiedzieć każdego wieczoru</div>
                    <ol>
                        @if (Model.EveningQuestionsViewModel.EveningQuestion1 != null)
                        {
                            <li><a>@Model.EveningQuestionsViewModel.EveningQuestion1</a></li>
                        }
                        @if (Model.EveningQuestionsViewModel.EveningQuestion2 != null)
                        {
                            <li><a>@Model.EveningQuestionsViewModel.EveningQuestion2</a></li>
                        }
                        @if (Model.EveningQuestionsViewModel.EveningQuestion3 != null)
                        {
                            <li><a>@Model.EveningQuestionsViewModel.EveningQuestion3</a></li>
                        }
                        @if (Model.EveningQuestionsViewModel.EveningQuestion4 != null)
                        {
                            <li><a>@Model.EveningQuestionsViewModel.EveningQuestion4</a></li>
                        }
                        @if (Model.EveningQuestionsViewModel.EveningQuestion5 != null)
                        {
                            <li><a>@Model.EveningQuestionsViewModel.EveningQuestion5</a></li>
                        }
                        @if (Model.EveningQuestionsViewModel.EveningQuestion6 != null)
                        {
                            <li><a>@Model.EveningQuestionsViewModel.EveningQuestion6</a></li>
                        }
                        @if (Model.EveningQuestionsViewModel.EveningQuestion7 != null)
                        {
                            <li><a>@Model.EveningQuestionsViewModel.EveningQuestion7</a></li>
                        }
                        @if (Model.EveningQuestionsViewModel.EveningQuestion8 != null)
                        {
                            <li><a>@Model.EveningQuestionsViewModel.EveningQuestion8</a></li>
                        }
                        @if (Model.EveningQuestionsViewModel.EveningQuestion9 != null)
                        {
                            <li><a>@Model.EveningQuestionsViewModel.EveningQuestion9</a></li>
                        }
                        @if (Model.EveningQuestionsViewModel.EveningQuestion10 != null)
                        {
                            <li><a>@Model.EveningQuestionsViewModel.EveningQuestion10</a></li>
                        }

                    </ol>
                </div>
            </div>
        </section>
    }
}

@{ if (Model.TodoViewModel.Todo1 != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }

    if (Model.TodoViewModel.Todo1 != null)
    {
        <section class="page-section portfolio @color" id="Todo">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center;">Lista rzeczy do zrobienia</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;">Jak się tym zajmiesz, będzie Ci lepiej</div>
                    <ol>
                        @if (Model.TodoViewModel.Todo1 != null)
                        {
                            <li><a>@Model.TodoViewModel.Todo1</a></li>
                        }
                        @if (Model.TodoViewModel.Todo2 != null)
                        {
                            <li><a>@Model.TodoViewModel.Todo2</a></li>
                        }
                        @if (Model.TodoViewModel.Todo3 != null)
                        {
                            <li><a>@Model.TodoViewModel.Todo3</a></li>
                        }
                        @if (Model.TodoViewModel.Todo4 != null)
                        {
                            <li><a>@Model.TodoViewModel.Todo4</a></li>
                        }
                        @if (Model.TodoViewModel.Todo5 != null)
                        {
                            <li><a>@Model.TodoViewModel.Todo5</a></li>
                        }
                        @if (Model.TodoViewModel.Todo6 != null)
                        {
                            <li><a>@Model.TodoViewModel.Todo6</a></li>
                        }
                        @if (Model.TodoViewModel.Todo7 != null)
                        {
                            <li><a>@Model.TodoViewModel.Todo7</a></li>
                        }
                        @if (Model.TodoViewModel.Todo8 != null)
                        {
                            <li><a>@Model.TodoViewModel.Todo8</a></li>
                        }
                        @if (Model.TodoViewModel.Todo9 != null)
                        {
                            <li><a>@Model.TodoViewModel.Todo9</a></li>
                        }
                        @if (Model.TodoViewModel.Todo10 != null)
                        {
                            <li><a>@Model.TodoViewModel.Todo10</a></li>
                        }
                    </ol>
                </div>

            </div>
        </section>}
}

@{ if (Model.TodoViewModel.TodoDateName1 != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.TodoViewModel.TodoDateName1 != null)

    { <section class="page-section portfolio mb-0 @color" id="FamilyBirthday" style="">
            <div class=" d-flex align-items-center flex-column" style="padding-bottom:150px">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:@colordescription;">Ważne terminy:</h1>


                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="mr-3 ml-3">
                    <table id="table_id4" class="table table-info table-hover" style="font-size:18px;">
                        <thead>
                            <tr>
                                <th style="width: 300px">Nazwa:</th>
                                <th style="width: 300px">Termin (M/D/R):</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{if (Model.TodoViewModel.TodoDateName1 != null)
                                {
                                    <tr>
                                        <td>@Model.TodoViewModel.TodoDateName1</td>
                                        <td>
                                            @if (Model.TodoViewModel.TodoDate1.HasValue)
                                            {
                                                @Model.TodoViewModel.TodoDate1.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            @{if (Model.TodoViewModel.TodoDateName2 != null)
                                {
                                    <tr>
                                        <td>@Model.TodoViewModel.TodoDateName2</td>
                                        <td>
                                            @if (Model.TodoViewModel.TodoDate2.HasValue)
                                            {
                                                @Model.TodoViewModel.TodoDate2.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            @{if (Model.TodoViewModel.TodoDateName3 != null)
                                {
                                    <tr>
                                        <td>@Model.TodoViewModel.TodoDateName3</td>
                                        <td>
                                            @if (Model.TodoViewModel.TodoDate3.HasValue)
                                            {
                                                @Model.TodoViewModel.TodoDate3.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.TodoViewModel.TodoDateName4 != null)
                                {
                                    <tr>
                                        <td>@Model.TodoViewModel.TodoDateName4</td>
                                        <td>
                                            @if (Model.TodoViewModel.TodoDate4.HasValue)
                                            {
                                                @Model.TodoViewModel.TodoDate4.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.TodoViewModel.TodoDateName5 != null)
                                {
                                    <tr>
                                        <td>@Model.TodoViewModel.TodoDateName5</td>
                                        <td>
                                            @if (Model.TodoViewModel.TodoDate5.HasValue)
                                            {
                                                @Model.TodoViewModel.TodoDate5.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.TodoViewModel.TodoDateName6 != null)
                                {
                                    <tr>
                                        <td>@Model.TodoViewModel.TodoDateName6</td>
                                        <td>
                                            @if (Model.TodoViewModel.TodoDate6.HasValue)
                                            {
                                                @Model.TodoViewModel.TodoDate6.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.TodoViewModel.TodoDateName7 != null)
                                {
                                    <tr>
                                        <td>@Model.TodoViewModel.TodoDateName7</td>
                                        <td>
                                            @if (Model.TodoViewModel.TodoDate7.HasValue)
                                            {
                                                @Model.TodoViewModel.TodoDate7.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.TodoViewModel.TodoDateName8 != null)
                                {
                                    <tr>
                                        <td>@Model.TodoViewModel.TodoDateName8</td>
                                        <td>
                                            @if (Model.TodoViewModel.TodoDate8.HasValue)
                                            {
                                                @Model.TodoViewModel.TodoDate8.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.TodoViewModel.TodoDateName9 != null)
                                {
                                    <tr>
                                        <td>@Model.TodoViewModel.TodoDateName9</td>
                                        <td>
                                            @if (Model.TodoViewModel.TodoDate9.HasValue)
                                            {
                                                @Model.TodoViewModel.TodoDate9.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.TodoViewModel.TodoDateName10 != null)
                                {
                                    <tr>
                                        <td>@Model.TodoViewModel.TodoDateName10</td>
                                        <td>
                                            @if (Model.TodoViewModel.TodoDate10.HasValue)
                                            {
                                                @Model.TodoViewModel.TodoDate10.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>}
}




@{ if (Model.FamilyBirthdayViewModel.FamilyBirthday1 != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.FamilyBirthdayViewModel.FamilyBirthdayName1 != null)

    { <section class="page-section portfolio mb-0 @color" id="FamilyBirthday" style="">
            <div class=" d-flex align-items-center flex-column" style="padding-bottom:150px">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:@colordescription;">Urodziny rodziny</h1>


                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="mr-3 ml-3">
                    <table id="table_id" class="table table-info table-hover" style="font-size:18px;">
                        <thead>
                            <tr>
                                <th style="width: 300px">Imię:</th>
                                <th style="width: 300px">Urodziny (M/D/R):</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{if (Model.FamilyBirthdayViewModel.FamilyBirthdayName1 != null)
                                {
                                    <tr>
                                        <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName1</td>
                                        <td>
                                            @if (Model.FamilyBirthdayViewModel.FamilyBirthday1.HasValue)
                                            {
                                                @Model.FamilyBirthdayViewModel.FamilyBirthday1.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            @{if (Model.FamilyBirthdayViewModel.FamilyBirthdayName2 != null)
                                {
                                    <tr>
                                        <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName2</td>
                                        <td>
                                            @if (Model.FamilyBirthdayViewModel.FamilyBirthday2.HasValue)
                                            {
                                                @Model.FamilyBirthdayViewModel.FamilyBirthday2.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            @{if (Model.FamilyBirthdayViewModel.FamilyBirthdayName3 != null)
                                {
                                    <tr>
                                        <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName3</td>
                                        <td>
                                            @if (Model.FamilyBirthdayViewModel.FamilyBirthday3.HasValue)
                                            {
                                                @Model.FamilyBirthdayViewModel.FamilyBirthday3.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FamilyBirthdayViewModel.FamilyBirthdayName4 != null)
                                {
                                    <tr>
                                        <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName4</td>
                                        <td>
                                            @if (Model.FamilyBirthdayViewModel.FamilyBirthday4.HasValue)
                                            {
                                                @Model.FamilyBirthdayViewModel.FamilyBirthday4.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FamilyBirthdayViewModel.FamilyBirthdayName5 != null)
                                {
                                    <tr>
                                        <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName5</td>
                                        <td>
                                            @if (Model.FamilyBirthdayViewModel.FamilyBirthday5.HasValue)
                                            {
                                                @Model.FamilyBirthdayViewModel.FamilyBirthday5.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FamilyBirthdayViewModel.FamilyBirthdayName6 != null)
                                {
                                    <tr>
                                        <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName6</td>
                                        <td>
                                            @if (Model.FamilyBirthdayViewModel.FamilyBirthday6.HasValue)
                                            {
                                                @Model.FamilyBirthdayViewModel.FamilyBirthday6.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FamilyBirthdayViewModel.FamilyBirthdayName7 != null)
                                {
                                    <tr>
                                        <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName7</td>
                                        <td>
                                            @if (Model.FamilyBirthdayViewModel.FamilyBirthday7.HasValue)
                                            {
                                                @Model.FamilyBirthdayViewModel.FamilyBirthday7.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FamilyBirthdayViewModel.FamilyBirthdayName8 != null)
                                {
                                    <tr>
                                        <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName8</td>
                                        <td>
                                            @if (Model.FamilyBirthdayViewModel.FamilyBirthday8.HasValue)
                                            {
                                                @Model.FamilyBirthdayViewModel.FamilyBirthday8.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FamilyBirthdayViewModel.FamilyBirthdayName9 != null)
                                {
                                    <tr>
                                        <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName9</td>
                                        <td>
                                            @if (Model.FamilyBirthdayViewModel.FamilyBirthday9.HasValue)
                                            {
                                                @Model.FamilyBirthdayViewModel.FamilyBirthday9.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FamilyBirthdayViewModel.FamilyBirthdayName10 != null)
                                {
                                    <tr>
                                        <td>@Model.FamilyBirthdayViewModel.FamilyBirthdayName10</td>
                                        <td>
                                            @if (Model.FamilyBirthdayViewModel.FamilyBirthday10.HasValue)
                                            {
                                                @Model.FamilyBirthdayViewModel.FamilyBirthday10.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>}
}

@{ if (Model.FriendsBirthdayViewModel.FriendsBirthday1 != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }

    if (Model.FriendsBirthdayViewModel.FriendsBirthdayName1 != null)
    {
        <section class="page-section portfolio @color" id="portfolio" style="">
            <div class=" d-flex align-items-center flex-column" style="padding-bottom:150px">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:@colordescription;">Urodziny Przyjaciół</h1>


                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="mr-3 ml-3">
                    <table id="table_id2" class="table table-info table-hover" style="font-size:18px;">
                        <thead>
                            <tr>
                                <th style="width: 300px">Imię:</th>
                                <th style="width: 300px">Urodziny (M/D/R):</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{if (Model.FriendsBirthdayViewModel.FriendsBirthdayName1 != null)
                                {
                                    <tr>
                                        <td>@Model.FriendsBirthdayViewModel.FriendsBirthdayName1</td>
                                        <td>
                                            @if (Model.FriendsBirthdayViewModel.FriendsBirthday1.HasValue)
                                            {
                                                @Model.FriendsBirthdayViewModel.FriendsBirthday1.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            @{if (Model.FriendsBirthdayViewModel.FriendsBirthdayName2 != null)
                                {
                                    <tr>
                                        <td>@Model.FriendsBirthdayViewModel.FriendsBirthdayName2</td>
                                        <td>
                                            @if (Model.FriendsBirthdayViewModel.FriendsBirthday2.HasValue)
                                            {
                                                @Model.FriendsBirthdayViewModel.FriendsBirthday2.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            @{if (Model.FriendsBirthdayViewModel.FriendsBirthdayName3 != null)
                                {
                                    <tr>
                                        <td>@Model.FriendsBirthdayViewModel.FriendsBirthdayName3</td>
                                        <td>
                                            @if (Model.FriendsBirthdayViewModel.FriendsBirthday3.HasValue)
                                            {
                                                @Model.FriendsBirthdayViewModel.FriendsBirthday3.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FriendsBirthdayViewModel.FriendsBirthdayName4 != null)
                                {
                                    <tr>
                                        <td>@Model.FriendsBirthdayViewModel.FriendsBirthdayName4</td>
                                        <td>
                                            @if (Model.FriendsBirthdayViewModel.FriendsBirthday4.HasValue)
                                            {
                                                @Model.FriendsBirthdayViewModel.FriendsBirthday4.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FriendsBirthdayViewModel.FriendsBirthdayName5 != null)
                                {
                                    <tr>
                                        <td>@Model.FriendsBirthdayViewModel.FriendsBirthdayName5</td>
                                        <td>
                                            @if (Model.FriendsBirthdayViewModel.FriendsBirthday5.HasValue)
                                            {
                                                @Model.FriendsBirthdayViewModel.FriendsBirthday5.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FriendsBirthdayViewModel.FriendsBirthdayName6 != null)
                                {
                                    <tr>
                                        <td>@Model.FriendsBirthdayViewModel.FriendsBirthdayName6</td>
                                        <td>
                                            @if (Model.FriendsBirthdayViewModel.FriendsBirthday6.HasValue)
                                            {
                                                @Model.FriendsBirthdayViewModel.FriendsBirthday6.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FriendsBirthdayViewModel.FriendsBirthdayName7 != null)
                                {
                                    <tr>
                                        <td>@Model.FriendsBirthdayViewModel.FriendsBirthdayName7</td>
                                        <td>
                                            @if (Model.FriendsBirthdayViewModel.FriendsBirthday7.HasValue)
                                            {
                                                @Model.FriendsBirthdayViewModel.FriendsBirthday7.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FriendsBirthdayViewModel.FriendsBirthdayName8 != null)
                                {
                                    <tr>
                                        <td>@Model.FriendsBirthdayViewModel.FriendsBirthdayName8</td>
                                        <td>
                                            @if (Model.FriendsBirthdayViewModel.FriendsBirthday8.HasValue)
                                            {
                                                @Model.FriendsBirthdayViewModel.FriendsBirthday8.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FriendsBirthdayViewModel.FriendsBirthdayName9 != null)
                                {
                                    <tr>
                                        <td>@Model.FriendsBirthdayViewModel.FriendsBirthdayName9</td>
                                        <td>
                                            @if (Model.FriendsBirthdayViewModel.FriendsBirthday9.HasValue)
                                            {
                                                @Model.FriendsBirthdayViewModel.FriendsBirthday9.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.FriendsBirthdayViewModel.FriendsBirthdayName10 != null)
                                {
                                    <tr>
                                        <td>@Model.FriendsBirthdayViewModel.FriendsBirthdayName10</td>
                                        <td>
                                            @if (Model.FriendsBirthdayViewModel.FriendsBirthday10.HasValue)
                                            {
                                                @Model.FriendsBirthdayViewModel.FriendsBirthday10.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    } }

@{ if (Model.OthersBirthdayViewModel.OthersBirthday1 != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }

    if (Model.OthersBirthdayViewModel.OthersBirthdayName1 != null)
    {
        <section class="page-section portfolio @color mb-0" id="OthersBirthdays" style="">
            <div class=" d-flex align-items-center flex-column" style="padding-bottom:150px">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:@colordescription;">Urodziny innych</h1>


                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="mr-3 ml-3">
                    <table id="table_id3" class="table table-info table-hover" style="font-size:18px;">
                        <thead>
                            <tr>
                                <th style="width: 300px">Imię:</th>
                                <th style="width: 300px">Urodziny (M/D/R):</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{if (Model.OthersBirthdayViewModel.OthersBirthdayName1 != null)
                                {
                                    <tr>
                                        <td>@Model.OthersBirthdayViewModel.OthersBirthdayName1</td>
                                        <td>
                                            @if (Model.OthersBirthdayViewModel.OthersBirthday1.HasValue)
                                            {
                                                @Model.OthersBirthdayViewModel.OthersBirthday1.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            @{if (Model.OthersBirthdayViewModel.OthersBirthdayName2 != null)
                                {
                                    <tr>
                                        <td>@Model.OthersBirthdayViewModel.OthersBirthdayName2</td>
                                        <td>
                                            @if (Model.OthersBirthdayViewModel.OthersBirthday2.HasValue)
                                            {
                                                @Model.OthersBirthdayViewModel.OthersBirthday2.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            @{if (Model.OthersBirthdayViewModel.OthersBirthdayName3 != null)
                                {
                                    <tr>
                                        <td>@Model.OthersBirthdayViewModel.OthersBirthdayName3</td>
                                        <td>
                                            @if (Model.OthersBirthdayViewModel.OthersBirthday3.HasValue)
                                            {
                                                @Model.OthersBirthdayViewModel.OthersBirthday3.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.OthersBirthdayViewModel.OthersBirthdayName4 != null)
                                {
                                    <tr>
                                        <td>@Model.OthersBirthdayViewModel.OthersBirthdayName4</td>
                                        <td>
                                            @if (Model.OthersBirthdayViewModel.OthersBirthday4.HasValue)
                                            {
                                                @Model.OthersBirthdayViewModel.OthersBirthday4.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.OthersBirthdayViewModel.OthersBirthdayName5 != null)
                                {
                                    <tr>
                                        <td>@Model.OthersBirthdayViewModel.OthersBirthdayName5</td>
                                        <td>
                                            @if (Model.OthersBirthdayViewModel.OthersBirthday5.HasValue)
                                            {
                                                @Model.OthersBirthdayViewModel.OthersBirthday5.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.OthersBirthdayViewModel.OthersBirthdayName6 != null)
                                {
                                    <tr>
                                        <td>@Model.OthersBirthdayViewModel.OthersBirthdayName6</td>
                                        <td>
                                            @if (Model.OthersBirthdayViewModel.OthersBirthday6.HasValue)
                                            {
                                                @Model.OthersBirthdayViewModel.OthersBirthday6.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.OthersBirthdayViewModel.OthersBirthdayName7 != null)
                                {
                                    <tr>
                                        <td>@Model.OthersBirthdayViewModel.OthersBirthdayName7</td>
                                        <td>
                                            @if (Model.OthersBirthdayViewModel.OthersBirthday7.HasValue)
                                            {
                                                @Model.OthersBirthdayViewModel.OthersBirthday7.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.OthersBirthdayViewModel.OthersBirthdayName8 != null)
                                {
                                    <tr>
                                        <td>@Model.OthersBirthdayViewModel.OthersBirthdayName8</td>
                                        <td>
                                            @if (Model.OthersBirthdayViewModel.OthersBirthday8.HasValue)
                                            {
                                                @Model.OthersBirthdayViewModel.OthersBirthday8.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.OthersBirthdayViewModel.OthersBirthdayName9 != null)
                                {
                                    <tr>
                                        <td>@Model.OthersBirthdayViewModel.OthersBirthdayName9</td>
                                        <td>
                                            @if (Model.OthersBirthdayViewModel.OthersBirthday9.HasValue)
                                            {
                                                @Model.OthersBirthdayViewModel.OthersBirthday9.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                            @{if (Model.OthersBirthdayViewModel.OthersBirthdayName10 != null)
                                {
                                    <tr>
                                        <td>@Model.OthersBirthdayViewModel.OthersBirthdayName10</td>
                                        <td>
                                            @if (Model.OthersBirthdayViewModel.OthersBirthday10.HasValue)
                                            {
                                                @Model.OthersBirthdayViewModel.OthersBirthday10.Value.ToString("MM/dd/yyyy")
                                            }
                                        </td>
                                    </tr>
                                } }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>}
}

@{if (Model.GoalsViewModel.AGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.AGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.AGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.AGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "AGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "AGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.AGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.AGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.AGoal1, "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.AGoal1, "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="AGoal" class="btn btn-success" name="submitButton" id="AGoalSave">Zapisz</button>
                    </div>
                }
                <div id="AGoalTable">@{Html.RenderPartial("_AGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}

@{if (Model.GoalsViewModel.BGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.BGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.BGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.BGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "BGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "BGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.BGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.BGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.BGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.BGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="BGoal" class="btn btn-success" name="submitButton" id="BGoalSave">Zapisz</button>
                    </div>
                }
                <div id="BGoalTable">@{Html.RenderPartial("_BGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}

@{if (Model.GoalsViewModel.CGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.CGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.CGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.CGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "CGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.CGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.CGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.CGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.CGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="CGoal" class="btn btn-success" name="submitButton" id="CGoalSave">Zapisz</button>
                    </div>
                }
                <div id="CGoalTable">@{Html.RenderPartial("_CGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}


@{if (Model.GoalsViewModel.DGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.DGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.DGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.DGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "DGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.DGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.DGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.DGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.DGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="DGoal" class="btn btn-success" name="submitButton" id="DGoalSave">Zapisz</button>
                    </div>
                }
                <div id="DGoalTable">@{Html.RenderPartial("_DGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}

@{if (Model.GoalsViewModel.EGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.EGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.EGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.EGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "EGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "EGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.EGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.EGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.EGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.EGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="EGoal" class="btn btn-success" name="submitButton" id="EGoalSave">Zapisz</button>
                    </div>
                }
                <div id="EGoalTable">@{Html.RenderPartial("_EGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}


@{if (Model.GoalsViewModel.FGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.FGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.FGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.FGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "FGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "FGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.FGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.FGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.FGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.FGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="FGoal" class="btn btn-success" name="submitButton" id="FGoalSave">Zapisz</button>
                    </div>
                }
                <div id="FGoalTable">@{Html.RenderPartial("_FGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}

@{if (Model.GoalsViewModel.GGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.GGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.GGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.GGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "GGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "GGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.GGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.GGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.GGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.GGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="GGoal" class="btn btn-success" name="submitButton" id="GGoalSave">Zapisz</button>
                    </div>
                }
                <div id="GGoalTable">@{Html.RenderPartial("_GGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}


@{if (Model.GoalsViewModel.HGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.HGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.HGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.HGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "HGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "HGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.HGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.HGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.HGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.HGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="HGoal" class="btn btn-success" name="submitButton" id="HGoalSave">Zapisz</button>
                    </div>
                }
                <div id="HGoalTable">@{Html.RenderPartial("_HGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $(document).ready(function () {

        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],

        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id2').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id3').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id4').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
    });
</script>
