@model HomeViewModelWrapper
@using Systematycznosc.ViewModels

@{
    string icon = "";
    string color = "";
    int colornumber = 2;
    string colordescription = "";
}

<header class="masthead bg-primary text-white text-center">
    <div class="align-items-center">
        
        @{if (Model.UserProfileViewModel.Photo != null)
            {<img src="@Model.UserProfileViewModel.Photo" class="img-circle" style="max-width:305px; padding-top:85px;">}
            else
            {
                <img src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/avataaars.svg" class="img-circle" style="max-width:305px; padding-top:85px;">}
        }

        @if (Model.UserProfileViewModel.Name != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px; line-height: 50px;">Witaj @Model.UserProfileViewModel.Name</h1>
        }

        <div class="divider-custom divider-light" style="padding-top:20px;">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <p class="masthead-subheading font-weight-light mb-0">W pomocniku systematyczności</p>

    </div>
    @{
        if (Model.IsInitialized == false)
        {
            <style>
                body {
                    background-color: #1abc9c
                }
            </style>
            <h1 class="masthead-heading text-uppercase mb-0" style="color: white; font-size: 55px; padding-top: 55px; line-height: 88px;">
                By spersonalizować pomocnika wejdź w zakładki u góry i dodaj interesujące Cię rzeczy
            </h1>
        }
    }

</header>

@{
    if (Model.CredoViewModel.Credos.Any(x => x.CredoValue != null))
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };


        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;">Credoes</h1>

                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;" class="subtheard">Najważniejszy rzeczy którymi kierujesz się każdego dnia</div>
                    <ol>

                        @{foreach (var credo in Model.CredoViewModel.Credos.Where(x => x.CredoValue != null))
                            {
                                if (credo != null)
                                {
                                    <li>
                                        <a>
                                            @credo.CredoValue
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ol>
                </div>
            </div>
        </section>
    }
}

@{
    if (Model.RelationshipViewModel.Relationships.Any(x => x.RelationshipValue != null))
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };


        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;">Związek</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;" class="subtheard">Rzeczy o których warto pamiętać byś był szczęśliwy</div>
                    <ol>

                        @{foreach (var relationship in Model.RelationshipViewModel.Relationships.Where(x => x.RelationshipValue != null))
                            {
                                if (relationship != null)
                                {
                                    <li>
                                        <a>
                                            @relationship.RelationshipValue
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ol>
                </div>
            </div>
        </section>
    }
}

@{
    if (Model.QuestionViewModel.MorningQuestions.Any(x => x.MorningQuestionValue != null))
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };


        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;">Pytanie poranne:</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;" class="subtheard">Warto je zadać każdego poranka:</div>
                    <ol>

                        @{foreach (var morningQuestion in Model.QuestionViewModel.MorningQuestions.Where(x => x.MorningQuestionValue != null))
                            {
                                if (morningQuestion != null)
                                {
                                    <li>
                                        <a>
                                            @morningQuestion.MorningQuestionValue
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ol>
                </div>
            </div>
        </section>
    }
}

@{
    if (Model.QuestionViewModel.EveningQuestions.Any(x => x.EveningQuestionValue != null))
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };


        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;">Pytanie wieczorne:</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;" class="subtheard">Warto je zadać każdego wieczoru:</div>
                    <ol>

                        @{foreach (var eveningQuestion in Model.QuestionViewModel.EveningQuestions.Where(x => x.EveningQuestionValue != null))
                            {
                                if (eveningQuestion != null)
                                {
                                    <li>
                                        <a>
                                            @eveningQuestion.EveningQuestionValue
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ol>
                </div>
            </div>
        </section>
    }
}

@{ if (Model.GoalViewModel.FirstGoals.Any(x => x.GoalName != null))
    {
        if (@Model.GoalViewModel.FirstGoals[0].GoalName != null)
        {
          colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };



            <div class=" d-flex align-items-center flex-column @color" style="padding-bottom:40px;">
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;text-align:center;">@Model.GoalViewModel.FirstGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="font-size:37px; text-align:center; padding-bottom:50px;" class="subtheard">@Model.GoalViewModel.FirstGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "FirstGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "FirstGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="firstGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="FirstGoalTable">@{Html.RenderPartial("~/Views/Goal/_FirstGoalTable.cshtml", Model.GoalViewModel);} </div>
            </div>
        }
    }
}

@{ if (Model.GoalViewModel.SecondGoals.Any(x => x.GoalName != null))
    {
        if (@Model.GoalViewModel.SecondGoals[0].GoalName != null)
        {
            colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };



            <div class=" d-flex align-items-center flex-column @color" style="padding-bottom:40px;">
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;text-align:center;">@Model.GoalViewModel.SecondGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="font-size:37px; text-align:center; padding-bottom:50px;" class="subtheard">@Model.GoalViewModel.SecondGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "SecondGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "SecondGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="secondGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="SecondGoalTable">@{Html.RenderPartial("~/Views/Goal/_SecondGoalTable.cshtml", Model.GoalViewModel);} </div>
            </div>
        }
    }
}

@{if (Model.GoalViewModel.ThirdGoals.Any(x => x.GoalName != null))
    {
        if (@Model.GoalViewModel.ThirdGoals[0].GoalName != null)
        {
            colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };



            <div class=" d-flex align-items-center flex-column @color" style="padding-bottom:40px;">
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;text-align:center;">@Model.GoalViewModel.ThirdGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="font-size:37px; text-align:center; padding-bottom:50px;" class="subtheard">@Model.GoalViewModel.ThirdGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "ThirdGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ThirdGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="thirdGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="ThirdGoalTable">@{Html.RenderPartial("~/Views/Goal/_ThirdGoalTable.cshtml", Model.GoalViewModel);} </div>
            </div>
        }
    }
}

@{ if (Model.GoalViewModel.FourthGoals.Any(x => x.GoalName != null))
    {
        if (@Model.GoalViewModel.FourthGoals[0].GoalName != null)
        {
            colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };



            <div class=" d-flex align-items-center flex-column @color" style="padding-bottom:40px;">
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;text-align:center;">@Model.GoalViewModel.FourthGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="font-size:37px; text-align:center; padding-bottom:50px;" class="subtheard">@Model.GoalViewModel.FourthGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "FourthGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "FourthGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="fourthGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="FourthGoalTable">@{Html.RenderPartial("~/Views/Goal/_FourthGoalTable.cshtml", Model.GoalViewModel);} </div>
            </div>
        }
    }
}

@{ if (Model.GoalViewModel.FifthGoals.Any(x => x.GoalName != null))
    {
        if (@Model.GoalViewModel.FifthGoals[0].GoalName != null)
        {
           colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };



            <div class=" d-flex align-items-center flex-column @color" style="padding-bottom:40px;">
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;text-align:center;">@Model.GoalViewModel.FifthGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="font-size:37px; text-align:center; padding-bottom:50px;" class="subtheard">@Model.GoalViewModel.FifthGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "FifthGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "FifthGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="fifthGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="FifthGoalTable">@{Html.RenderPartial("~/Views/Goal/_FifthGoalTable.cshtml", Model.GoalViewModel);} </div>
            </div>
        }
    }
}

@{ if (Model.GoalViewModel.SixthGoals.Any(x => x.GoalName != null))
    {
        if (@Model.GoalViewModel.SixthGoals[0].GoalName != null)
        {
            colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };



            <div class=" d-flex align-items-center flex-column @color" style="padding-bottom:40px;">
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;text-align:center;">@Model.GoalViewModel.SixthGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="font-size:37px; text-align:center; padding-bottom:50px;" class="subtheard">@Model.GoalViewModel.SixthGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "SixthGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "SixthGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="sixthGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="SixthGoalTable">@{Html.RenderPartial("~/Views/Goal/_SixthGoalTable.cshtml", Model.GoalViewModel);} </div>
            </div>
        }
    }
}

@{ if (Model.GoalViewModel.SeventhGoals.Any(x => x.GoalName != null))
    {
        if (@Model.GoalViewModel.SeventhGoals[0].GoalName != null)
        {
             colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };



            <div class=" d-flex align-items-center flex-column @color" style="padding-bottom:40px;">
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;text-align:center;">@Model.GoalViewModel.SeventhGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="font-size:37px; text-align:center; padding-bottom:50px;" class="subtheard">@Model.GoalViewModel.SeventhGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "SeventhGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "SeventhGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="seventhGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="SeventhGoalTable">@{Html.RenderPartial("~/Views/Goal/_SeventhGoalTable.cshtml", Model.GoalViewModel);} </div>
            </div>
        }
    }
}

@{ if (Model.GoalViewModel.EightGoals.Any(x => x.GoalName != null))
    {
        if (@Model.GoalViewModel.EightGoals[0].GoalName != null)
        {
            colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };



            <div class=" d-flex align-items-center flex-column @color" style="padding-bottom:40px;">
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;text-align:center;">@Model.GoalViewModel.EightGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="font-size:37px; text-align:center; padding-bottom:50px;" class="subtheard">@Model.GoalViewModel.EightGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "EighthGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "EightGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="eightGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="EightGoalTable">@{Html.RenderPartial("~/Views/Goal/_EightGoalTable.cshtml", Model.GoalViewModel);} </div>
            </div>
        }
    }
}

@{ if (Model.TodoViewModel.Todoes.Any(x => x.TodoValue != null))
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };

        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;">Do zrobienia</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;" class="subtheard">Po ich wykonaniu poczujesz się lepiej</div>
                    <ol>

                        @{foreach (var todo in Model.TodoViewModel.Todoes.Where(x => x.TodoValue != null))
                            {
                                if (todo != null)
                                {
                                    <li>
                                        <a>
                                            @todo.TodoValue
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ol>
                </div>
            </div>
        </section>
    }
}

@{ if (Model.TodoViewModel.ImportantEvents.Any(x => x.ImportantEventName != null))
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };

        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column theard">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;">Ważne wydarzenia</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;" class="subtheard">Warto o nich pamiętać</div>
                    <div class="mr-3 ml-3">
                        <table id="table_id" class="table table-info table-hover table-striped" style="font-size:18px;">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width: 300px">Nazwa:</th>
                                    <th style="width: 300px">Data: (M/D/R):</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var importantEvent in Model.TodoViewModel.ImportantEvents.Where(x => x.ImportantEventName != null && x.ImportantEventDate != null).OrderBy(x => x.ImportantEventDate))
                                {
                                    <tr>

                                        <td>@importantEvent.ImportantEventName</td>
                                        <td>
                                            @importantEvent.ImportantEventDate.Value.ToString("MM/dd/yyyy")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    }
}

@{ if (Model.BirthdayViewModel.FamilyBirthdays.Any(x => x.FamilyBirthdayName != null))
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };

        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;">Urodziny rodziny</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;" class="subtheard">Warto o nich pamiętać</div>
                    <div class="mr-3 ml-3">
                        <table id="table_id" class="table table-info table-hover table-striped" style="font-size:18px;">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width: 300px">Nazwa:</th>
                                    <th style="width: 300px">Data: (M/D/R):</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var familyBirthday in Model.BirthdayViewModel.FamilyBirthdays.Where(x => x.FamilyBirthdayName != null && x.FamilyBirthdayDate != null).OrderBy(x => x.FamilyBirthdayDate))
                                {
                                    <tr>

                                        <td>@familyBirthday.FamilyBirthdayName</td>
                                        <td>
                                            @familyBirthday.FamilyBirthdayDate.Value.ToString("MM/dd/yyyy")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    }
}

@{ if (Model.BirthdayViewModel.FriendsBirthdays.Any(x => x.FriendBirthdayName != null))
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };

        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;">Urodziny przyjaciół</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;" class="subtheard">Warto o nich pamiętać</div>
                    <div class="mr-3 ml-3">
                        <table id="table_id" class="table table-info table-hover table-striped" style="font-size:18px;">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width: 300px">Nazwa:</th>
                                    <th style="width: 300px">Data: (M/D/R):</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var friendBirthday in Model.BirthdayViewModel.FriendsBirthdays.Where(x => x.FriendBirthdayName != null && x.FriendBirthdayDate != null).OrderBy(x => x.FriendBirthdayDate))
                                {
                                    <tr>

                                        <td>@friendBirthday.FriendBirthdayName</td>
                                        <td>
                                            @friendBirthday.FriendBirthdayDate.Value.ToString("MM/dd/yyyy")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    }
}

@{ if (Model.BirthdayViewModel.OthersBirthdays.Any(x => x.OtherBirthdayName != null))
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "bg-white";
            icon = "divider-dark";
            colordescription = "black";
        };

        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 theard" style="font-size:55px; padding-top:55px;">Urodziny innych:</h1>

                <!-- Icon Divider -->
                <div class="divider-custom @icon">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;" class="subtheard">Warto o nich pamiętać</div>
                    <div class="mr-3 ml-3">
                        <table id="table_id" class="table table-info table-hover table-striped" style="font-size:18px;">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width: 300px">Nazwa:</th>
                                    <th style="width: 300px">Data: (M/D/R):</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var otherBirthday in Model.BirthdayViewModel.OthersBirthdays.Where(x => x.OtherBirthdayName != null && x.OtherBirthdayDate != null).OrderBy(x => x.OtherBirthdayDate))
                                {
                                    <tr>

                                        <td>@otherBirthday.OtherBirthdayName</td>
                                        <td>
                                            @otherBirthday.OtherBirthdayDate.Value.ToString("MM/dd/yyyy")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    }
}
@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

                                                //$(document).ready(function () {

                                                //    $.fn.dataTable.moment('DD/MM/YY');
                                                //    $('#table_id').DataTable({

                                                //        paging: false,
                                                //        searching: false,
                                                //        info: false,
                                                //        "order": [[1, "asc"]],

                                                //    });
                                                //    $.fn.dataTable.moment('DD/MM/YY');
                                                //    $('#table_id2').DataTable({

                                                //        paging: false,
                                                //        searching: false,
                                                //        info: false,
                                                //        "order": [[1, "asc"]],
                                                //    });
                                                //    $.fn.dataTable.moment('DD/MM/YY');
                                                //    $('#table_id3').DataTable({

                                                //        paging: false,
                                                //        searching: false,
                                                //        info: false,
                                                //        "order": [[1, "asc"]],
                                                //    });
                                                //    $.fn.dataTable.moment('DD/MM/YY');
                                                //    $('#table_id4').DataTable({

                                                //        paging: false,
                                                //        searching: false,
                                                //        info: false,
                                                //        "order": [[1, "asc"]],
                                                //    });
                                                //});
</script>
