@model UserProfileViewModelWrapper
@using Systematycznosc.ViewModels

@{
    string icon = "";
    string color = "";
    int colornumber = 2;
    string colordescription = "";
}

<header class="masthead bg-primary text-white text-center">
    <div class=" d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        @{if (Model.UserProfileViewModel.Photo != null)
            {<img src="@Model.UserProfileViewModel.Photo" class="img-circle" style="max-width:305px; padding-top:85px;">}
            else
            {
                <img src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/avataaars.svg" class="img-circle" style="max-width:305px; padding-top:85px;">}
        }
        <!-- Masthead Heading -->
        @if (Model.UserProfileViewModel.Name != null)
        {
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px; line-height: 50px;">Witaj @Model.UserProfileViewModel.Name</h1>
        }

        <!-- Icon Divider -->
        <div class="divider-custom divider-light" style="padding-top:20px;">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">W pomocniku systematyczności</p>

    </div>
    @{
        if (Model.IsInitialized)
        {
            <style>
                body {
                    background-color: #1abc9c
                }
            </style>
            <h1 class="masthead-heading text-uppercase mb-0" style="color: white; font-size: 55px; padding-top: 55px; line-height: 88px;">
                By spersonalizować pomocnika wejdź w zakładki u góry i dodaj interesujące Cię rzeczy
            </h1>
        }
    }

</header>

@{
    if (Model.CredoViewModel.Credos != null && Model.CredoViewModel.Credos.Any())
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };


        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;">Credoes</h1>

                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;">Najważniejszy rzeczy którymi kierujesz się każdego dnia</div>
                    <ol>

                        @{foreach (var credo in Model.CredoViewModel.Credos.Where(x => x.CredoValue != null))
                            {
                                if (credo != null)
                                {
                                    <li>
                                        <a>
                                            @credo.CredoValue
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ol>
                </div>
            </div>
        </section>
    }
}

@{
    if (Model.RelationshipViewModel.Relationships != null && Model.RelationshipViewModel.Relationships.Any())
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };


        <section class="page-section portfolio @color" id="credo">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;">Związek</h1>

                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="numberlist">
                    <div style="color:@colordescription; font-size:37px; text-align:center;">Rzeczy o których warto pamiętać byś był szczęśliwy</div>
                    <ol>

                        @{foreach (var relationship in Model.RelationshipViewModel.Relationships.Where(x => x.RelationshipValue != null))
                            {
                                if (relationship != null)
                                {
                                    <li>
                                        <a>
                                            @relationship.RelationshipValue
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ol>
                </div>
            </div>
        </section>
    }
}

@{ @*if (Model. != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-primary";
                icon = "divider-light";
                colordescription = "white";
            }
            else
            {
                color = "";
                icon = "";
                colordescription = "black";
            };
        }*@


}

@{ @*if (Model.EveningQuestionsViewModel.EveningQuestion1 != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-primary";
                icon = "divider-light";
                colordescription = "white";
            }
            else
            {
                color = "";
                icon = "";
                colordescription = "black";
            };
        }*@


}

@{ @*if (Model.TodoViewModel.Todo1 != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-primary";
                icon = "divider-light";
                colordescription = "white";
            }
            else
            {
                color = "";
                icon = "";
                colordescription = "black";
            };
        }*@


}

@{ @*if (Model.TodoViewModel.TodoDateName1 != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-primary";
                icon = "divider-light";
                colordescription = "white";
            }
            else
            {
                color = "";
                icon = "";
                colordescription = "black";
            };
        }*@



}




@{ @*if ( != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-primary";
                icon = "divider-light";
                colordescription = "white";
            }
            else
            {
                color = "";
                icon = "";
                colordescription = "black";
            };
        }*@


//if (Model.FamilyBirthdayViewModel.FamilyBirthdayName1 != null)

{ <section class="page-section portfolio mb-0 @color" id="FamilyBirthday" style="">
        <div class=" d-flex align-items-center flex-column" style="padding-bottom:150px">

            <!-- Masthead Avatar Image -->
            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:@colordescription;">Urodziny rodziny</h1>


            <!-- Icon Divider -->
            <div class="divider-custom @icon" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </section>}
}

@{ @*if (Model.FriendsBirthdayViewModel.FriendsBirthday1 != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-primary";
                icon = "divider-light";
                colordescription = "white";
            }
            else
            {
                color = "";
                icon = "";
                colordescription = "black";
            };
        }*@

//if (Model.FriendsBirthdayViewModel.FriendsBirthdayName1 != null)
{
    <section class="page-section portfolio @color" id="portfolio" style="">
        <div class=" d-flex align-items-center flex-column" style="padding-bottom:150px">

            <!-- Masthead Avatar Image -->
            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:@colordescription;">Urodziny Przyjaciół</h1>


            <!-- Icon Divider -->
            <div class="divider-custom @icon" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </section>

} }

@{ @*if (Model.OthersBirthdayViewModel.OthersBirthday1 != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-primary";
                icon = "divider-light";
                colordescription = "white";
            }
            else
            {
                color = "";
                icon = "";
                colordescription = "black";
            };
        }*@

//if (Model.OthersBirthdayViewModel.OthersBirthdayName1 != null)
{
    <section class="page-section portfolio @color mb-0" id="OthersBirthdays" style="">
        <div class=" d-flex align-items-center flex-column" style="padding-bottom:150px">

            <!-- Masthead Avatar Image -->
            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:@colordescription;">Urodziny innych</h1>


            <!-- Icon Divider -->
            <div class="divider-custom @icon" style="">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="mr-3 ml-3">
            </div>
        </div>
    </section>}
}

@{if (Model.GoalsViewModel.AGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.AGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.AGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.AGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "AGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "AGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.AGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.AGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.AGoal1, "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.AGoal1, "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="AGoal" class="btn btn-success" name="submitButton" id="AGoalSave">Zapisz</button>
                    </div>
                }
                <div id="AGoalTable">@{Html.RenderPartial("_AGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}

@{if (Model.GoalsViewModel.BGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.BGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.BGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.BGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "BGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "BGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.BGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.BGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.BGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.BGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="BGoal" class="btn btn-success" name="submitButton" id="BGoalSave">Zapisz</button>
                    </div>
                }
                <div id="BGoalTable">@{Html.RenderPartial("_BGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}

@{if (Model.GoalsViewModel.CGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.CGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.CGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.CGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "CGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.CGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.CGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.CGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.CGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="CGoal" class="btn btn-success" name="submitButton" id="CGoalSave">Zapisz</button>
                    </div>
                }
                <div id="CGoalTable">@{Html.RenderPartial("_CGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}


@{if (Model.GoalsViewModel.DGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.DGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.DGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.DGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "DGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.DGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.DGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.DGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.DGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="DGoal" class="btn btn-success" name="submitButton" id="DGoalSave">Zapisz</button>
                    </div>
                }
                <div id="DGoalTable">@{Html.RenderPartial("_DGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}

@{if (Model.GoalsViewModel.EGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.EGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.EGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.EGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "EGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "EGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.EGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.EGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.EGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.EGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="EGoal" class="btn btn-success" name="submitButton" id="EGoalSave">Zapisz</button>
                    </div>
                }
                <div id="EGoalTable">@{Html.RenderPartial("_EGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}


@{if (Model.GoalsViewModel.FGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.FGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.FGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.FGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "FGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "FGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.FGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.FGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.FGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.FGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="FGoal" class="btn btn-success" name="submitButton" id="FGoalSave">Zapisz</button>
                    </div>
                }
                <div id="FGoalTable">@{Html.RenderPartial("_FGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}

@{if (Model.GoalsViewModel.GGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.GGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.GGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.GGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "GGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "GGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.GGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.GGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.GGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.GGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="GGoal" class="btn btn-success" name="submitButton" id="GGoalSave">Zapisz</button>
                    </div>
                }
                <div id="GGoalTable">@{Html.RenderPartial("_GGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}


@{if (Model.GoalsViewModel.HGoalName != null)
    {
        colornumber++;
        if ((colornumber % 2) == 0)
        {
            color = "bg-primary";
            icon = "divider-light";
            colordescription = "white";
        }
        else
        {
            color = "";
            icon = "";
            colordescription = "black";
        };
    }


    if (Model.GoalsViewModel.HGoalName != null)
    {

        <section class="page-section @color mb-0" id="Goals">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image -->
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center;">@Model.GoalsViewModel.HGoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="color:@colordescription; font-size:37px; text-align:center;" class="questions">@Model.GoalsViewModel.HGoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "HGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "HGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.HGoal1, "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.HGoal1, "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.GoalsViewModel.HGoal1, "Odpoczynek", false)@Html.Label("Odpoczynek")
                        @Html.RadioButtonFor(model => model.GoalsViewModel.HGoal1, "Nagroda", false)@Html.Label("Nagroda")
                    </div>

                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="HGoal" class="btn btn-success" name="submitButton" id="HGoalSave">Zapisz</button>
                    </div>
                }
                <div id="HGoalTable">@{Html.RenderPartial("_HGoalTable", Model.GoalsViewModel);}</div>
            </div>
        </section>
    }
}

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $(document).ready(function () {

        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],

        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id2').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id3').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id4').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
    });
</script>
