@model Systematycznosc.ViewModels.MorningQuestionsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="CredoDiv" style="font-size:20px;">
        <div style="color:gold; font-size:55px; text-align:center;">Poranne pytania:</div>
        <div style="color:white; font-size:37px; text-align:center;">Warte je zadać sobie każdego ranka:</div>
        @using (Html.BeginForm("MorningQuestionsEdit", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", style = " text-align: center;" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.MorningQuestions1, "Pytanie nr 1:", new { @class = "col-md-2 control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.MorningQuestions1, new { @class = "form-control", style = "float:none!important; display:inline-block;" })
                    @Html.ValidationMessageFor(m => m.MorningQuestions1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.MorningQuestions2, "Pytanie nr 2:", new { @class = "col-md-2 control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.MorningQuestions2, new { @class = "form-control", style = "float:none!important; display:inline-block;" })
                    @Html.ValidationMessageFor(m => m.MorningQuestions2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.MorningQuestions3, "Pytanie nr 3:", new { @class = "col-md-2 control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.MorningQuestions3, new { @class = "form-control", style = "float:none!important; display:inline-block;" })
                    @Html.ValidationMessageFor(m => m.MorningQuestions3, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.MorningQuestions4, "Pytanie nr 4:", new { @class = "col-md-2 control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.MorningQuestions4, new { @class = "form-control", style = "float:none!important; display:inline-block;" })
                    @Html.ValidationMessageFor(m => m.MorningQuestions4, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.MorningQuestions5, "Pytanie nr 5:", new { @class = "col-md-2 control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.MorningQuestions5, new { @class = "form-control", style = "float:none!important; display:inline-block;" })
                    @Html.ValidationMessageFor(m => m.MorningQuestions5, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.MorningQuestions6, "Pytanie nr 6:", new { @class = "col-md-2 control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.MorningQuestions6, new { @class = "form-control", style = "float:none!important; display:inline-block;" })
                    @Html.ValidationMessageFor(m => m.MorningQuestions6, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.MorningQuestions7, "Pytanie nr 7:", new { @class = "col-md-2 control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.MorningQuestions7, new { @class = "form-control", style = "float:none!important; display:inline-block;" })
                    @Html.ValidationMessageFor(m => m.MorningQuestions7, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.MorningQuestions8, "Pytanie nr 8:", new { @class = "col-md-2 control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.MorningQuestions8, new { @class = "form-control", style = "float:none!important; display:inline-block;" })
                    @Html.ValidationMessageFor(m => m.MorningQuestions8, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.MorningQuestions9, "Pytanie nr 9:", new { @class = "col-md-2 control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                    @Html.TextBoxFor(m => m.MorningQuestions9, new { @class = "form-control", style = "float:none!important; display:inline-block;" })
                    @Html.ValidationMessageFor(m => m.MorningQuestions9, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="text-align:center;">

                <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                    @Html.LabelFor(m => m.MorningQuestions10, "Pytanie nr 10:", new { @class = "col-md-2 control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none; padding-left:0px;" })
                    @Html.TextBoxFor(m => m.MorningQuestions10, new { @class = "form-control", style = "float:none!important; display:inline-block;" })
                    @Html.ValidationMessageFor(m => m.MorningQuestions10, "", new { @class = "text-danger" })
                </div>
            </div>

            <button type="submit" value="Log in" class="btn btn-warning">Zapisz</button>

            @Html.ActionLink("Powród do pytań", "Questions", "Home", null, new { @class = "btn bg-info icon-user nav_bar_first_small_screen btn-warning", style = "color:white;" })

        }
    </div>
