@model Systematycznosc.ViewModels.OthersBirthdayViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0 text-center" style="font-size:55px;" id="Opener">Urodziny innych osób</h1>

    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>
    @using (Html.BeginForm("OthersBirthdayEdit", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.OthersBirthdayName1, "Imie:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.OthersBirthdayName1, new { @class = "", style = "  float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.OthersBirthdayName1, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.OthersBirthday1, new { @type = "date", @class = " datepicker", @Value = Model.OthersBirthday1?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.OthersBirthdayName2, "Imie:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.OthersBirthdayName2, new { @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.OthersBirthdayName2, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.OthersBirthday2, new { @type = "date", @class = " datepicker", @Value = Model.OthersBirthday2?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.OthersBirthdayName3, "Imie:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.OthersBirthdayName3, new { @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.OthersBirthdayName3, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.OthersBirthday3, new { @type = "date", @class = " datepicker", @Value = Model.OthersBirthday3?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.OthersBirthdayName4, "Imie:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.OthersBirthdayName4, new { @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.OthersBirthdayName4, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.OthersBirthday4, new { @type = "date", @class = " datepicker", @Value = Model.OthersBirthday4?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.OthersBirthdayName5, "Imie:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.OthersBirthdayName5, new { @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.OthersBirthdayName5, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.OthersBirthday5, new { @type = "date", @class = " datepicker", @Value = Model.OthersBirthday5?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.OthersBirthdayName6, "Imie:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.OthersBirthdayName6, new { @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.OthersBirthdayName6, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.OthersBirthday6, new { @type = "date", @class = " datepicker", @Value = Model.OthersBirthday6?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.OthersBirthdayName7, "Imie:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.OthersBirthdayName7, new { @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.OthersBirthdayName7, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.OthersBirthday7, new { @type = "date", @class = " datepicker", @Value = Model.OthersBirthday7?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.OthersBirthdayName8, "Imie:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.OthersBirthdayName8, new { @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.OthersBirthdayName8, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.OthersBirthday8, new { @type = "date", @class = " datepicker", @Value = Model.OthersBirthday8?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.OthersBirthdayName9, "Imie:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.OthersBirthdayName9, new { @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.OthersBirthdayName9, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.OthersBirthday9, new { @type = "date", @class = " datepicker", @Value = Model.OthersBirthday9?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.OthersBirthdayName10, "Imie:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.OthersBirthdayName10, new { @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.OthersBirthdayName10, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.OthersBirthday10, new { @type = "date", @class = " datepicker", @Value = Model.OthersBirthday10?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>


        <div style="padding-bottom:50px;">
            <button style="font-size:25px;" type="submit" value="Log in" class="btn btn-info">Zapisz</button>

            @Html.ActionLink("Powród do urodzin", "Birthday", "Home", null, new { @class = "btn bg-info icon-user nav_bar_first_small_screen", style = "color:white; font-size:25px;" })
        </div>
    }
</div>