@model Systematycznosc.ViewModels.RelationshipViewModel
@{
    ViewBag.Title = "Relationship";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body{background-color:#1abc9c}
    </style>
}

<div class=" d-flex align-items-center flex-column page-section portfolio bg-primary text-white mb-0">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:155px;">Związek</h1>

    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>
    <div class="numberlist">
        <div style="font-size:37px; text-align:center;">Rzeczy o których warto pamiętać byś był szczęśliwy</div>
        <ol>
            @if (Model.Relationship1 != null)
            {
                <li><a href="">@Model.Relationship1</a></li>
            }
            @if (Model.Relationship2 != null)
            {
                <li><a href="">@Model.Relationship2</a></li>
            }
            @if (Model.Relationship3 != null)
            {
                <li><a href="">@Model.Relationship3</a></li>
            }
            @if (Model.Relationship4 != null)
            {
                <li><a href="">@Model.Relationship4</a></li>
            }
            @if (Model.Relationship5 != null)
            {
                <li><a href="">@Model.Relationship5</a></li>
            }
            @if (Model.Relationship6 != null)
            {
                <li><a href="">@Model.Relationship6</a></li>
            }
            @if (Model.Relationship7 != null)
            {
                <li><a href="">@Model.Relationship7</a></li>
            }
            @if (Model.Relationship8 != null)
            {
                <li><a href="">@Model.Relationship8</a></li>
            }
            @if (Model.Relationship9 != null)
            {
                <li><a href="">@Model.Relationship9</a></li>
            }
            @if (Model.Relationship10 != null)
            {
                <li><a href="">@Model.Relationship10</a></li>
            }
        </ol>
    </div>
</div>
<div style="max-width: 150px; margin-left:auto; margin-right:auto" ">
    <a href="@Url.Action("RelationshipEdit", "Home")" id="HoverNone">
        <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
    </a>
</div>

