@model Systematycznosc.ViewModels.TodoViewModel
@{
    ViewBag.Title = "TodoEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body {
            background-color: #1abc9c
        }
    </style>
}

<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; text-align:center;" id="Opener">Do zrobienia</h1>

    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color: white !important;"></div>
    </div>
    @using (Html.BeginForm("TodoEdit", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-6", role = "form", style = " text-align: center;font-size:35px; " }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="text-align:center;">

            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.Todo1, "Rzecz do zrobienia nr 1:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.Todo1, new { placeholder = "Wpisz tu zadanie", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.Todo1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">

            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.Todo2, "Rzecz do zrobienia nr 2:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.Todo2, new { placeholder = "Wpisz tu zadanie", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.Todo2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">

            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.Todo3, "Rzecz do zrobienia nr 3:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.Todo3, new { placeholder = "Wpisz tu zadanie", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.Todo3, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">

            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.Todo4, "Rzecz do zrobienia nr 4:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.Todo4, new { placeholder = "Wpisz tu zadanie", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.Todo4, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">

            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.Todo5, "Rzecz do zrobienia nr 5:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.Todo5, new { placeholder = "Wpisz tu zadanie", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.Todo5, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">

            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.Todo6, "Rzecz do zrobienia nr 6:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.Todo6, new { placeholder = "Wpisz tu zadanie", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.Todo6, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">

            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.Todo1, "Rzecz do zrobienia nr 7:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.Todo7, new { placeholder = "Wpisz tu zadanie", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.Todo7, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">

            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.Todo8, "Rzecz do zrobienia nr 8:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.Todo8, new { placeholder = "Wpisz tu zadanie", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.Todo8, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">

            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.Todo9, "Rzecz do zrobienia nr 9:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.Todo9, new { placeholder = "Wpisz tu zadanie", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.Todo9, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">

            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.Todo10, "Rzecz do zrobienia nr 10:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none; padding-left:0px;" })
                @Html.TextBoxFor(m => m.Todo10, new { placeholder = "Wpisz tu zadanie", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.Todo10, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="padding-bottom:50px; padding-top:20px;">
            <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                <button style="font-size:40px;" type="submit" value="Log in" class="btn btn-success">Zapisz</button>
            </div>
            <div style="padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                @Html.ActionLink("Powrót do listy", "Todo", "Home", null, new { @class = "btn bg-success icon-user nav_bar_first_small_screen", style = "color:white; font-size:40px;" })
            </div>
        </div>
    }
</div>
<div class=" d-flex align-items-center flex-column" style="background-color:white!important">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">Ważne terminy</h1>

    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>
    @using (Html.BeginForm("TodoEdit", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-6", role = "form", style = " text-align: center; color:black; font-size:25px" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.TodoDateName1, "Nazwa:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.TodoDateName1, new { placeholder = "Wpisz tu nazwę.", @class = "", style = "  float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.TodoDateName1, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.TodoDate1, new { @type = "date", @class = " datepicker", @Value = Model.TodoDate1?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.TodoDateName2, "Nazwa:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.TodoDateName2, new { placeholder = "Wpisz tu nazwę.", @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.TodoDateName2, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.TodoDate2, new { @type = "date", @class = " datepicker", @Value = Model.TodoDate2?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.TodoDateName3, "Nazwa:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.TodoDateName3, new { placeholder = "Wpisz tu nazwę.", @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.TodoDateName3, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.TodoDate3, new { @type = "date", @class = " datepicker", @Value = Model.TodoDate3?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.TodoDateName4, "Nazwa:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.TodoDateName4, new { placeholder = "Wpisz tu nazwę.", @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.TodoDateName4, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.TodoDate4, new { @type = "date", @class = " datepicker", @Value = Model.TodoDate4?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.TodoDateName5, "Nazwa:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.TodoDateName5, new { placeholder = "Wpisz tu nazwę.", @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.TodoDateName5, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.TodoDate5, new { @type = "date", @class = " datepicker", @Value = Model.TodoDate5?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.TodoDateName6, "Nazwa:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.TodoDateName6, new { placeholder = "Wpisz tu nazwę.", @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.TodoDateName6, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.TodoDate6, new { @type = "date", @class = " datepicker", @Value = Model.TodoDate6?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.TodoDateName7, "Nazwa:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.TodoDateName7, new { placeholder = "Wpisz tu nazwę.", @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.TodoDateName7, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.TodoDate7, new { @type = "date", @class = " datepicker", @Value = Model.TodoDate7?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.TodoDateName8, "Nazwa:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.TodoDateName8, new { placeholder = "Wpisz tu nazwę.", @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.TodoDateName8, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.TodoDate8, new { @type = "date", @class = " datepicker", @Value = Model.TodoDate8?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.TodoDateName9, "Nazwa:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.TodoDateName9, new { placeholder = "Wpisz tu nazwę.", @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.TodoDateName9, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.TodoDate9, new { @type = "date", @class = " datepicker", @Value = Model.TodoDate9?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-md-10" style="margin-left:auto; margin-right:auto; float:none!important;">
                @Html.LabelFor(m => m.TodoDateName10, "Nazwa:", new { @class = " control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                @Html.TextBoxFor(m => m.TodoDateName10, new { placeholder = "Wpisz tu nazwę.", @class = "", style = "float:none!important; display:inline-block; font-size:25px;" })
                @Html.ValidationMessageFor(m => m.TodoDateName10, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.TodoDate10, new { @type = "date", @class = " datepicker", @Value = Model.TodoDate10?.ToString("yyyy-MM-dd"), @style = "font-size:25px;" })
            </div>
        </div>

        <div style="padding-bottom:50px; padding-top:20px;">
            <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                <button style="font-size:40px;" type="submit" value="Log in" class="btn btn-success">Zapisz</button>
            </div>
            <div style="padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                @Html.ActionLink("Powrót do listy", "Todo", "Home", null, new { @class = "btn bg-success icon-user nav_bar_first_small_screen", style = "color:white; font-size:40px;" })
            </div>

        </div>
    }
</div>