@model Systematycznosc.ViewModels.TodoViewModel
@{
    ViewBag.Title = "Todo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px;" id="Opener">Todo</h1>

    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>
    <div class="numberlist">
        <div style="font-size:37px; text-align:center;">Po ich wykonaniu będzie Ci lżej</div>
        <ol>
            @if (Model.Todo1 != null)
            {
                <li><a>@Model.Todo1</a></li>
            }
            @if (Model.Todo2 != null)
            {
                <li><a>@Model.Todo2</a></li>
            }
            @if (Model.Todo3 != null)
            {
                <li><a>@Model.Todo3</a></li>
            }
            @if (Model.Todo4 != null)
            {
                <li><a>@Model.Todo4</a></li>
            }
            @if (Model.Todo5 != null)
            {
                <li><a>@Model.Todo5</a></li>
            }
            @if (Model.Todo6 != null)
            {
                <li><a>@Model.Todo6</a></li>
            }
            @if (Model.Todo7 != null)
            {
                <li><a>@Model.Todo7</a></li>
            }
            @if (Model.Todo8 != null)
            {
                <li><a>@Model.Todo8</a></li>
            }
            @if (Model.Todo9 != null)
            {
                <li><a>@Model.Todo9</a></li>
            }
            @if (Model.Todo10 != null)
            {
                <li><a>@Model.Todo10</a></li>
            }
        </ol>
    </div>
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("TodoEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>
<div class=" d-flex align-items-center flex-column" style="background-color:white!important">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:black!important;">Ważne terminy:</h1>


    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>
    @{ if (Model.TodoDateName1 != null)
        {
            <table id="table_id" class="table table-info table-hover" style="font-size:18px;">
                <thead>
                    <tr>
                        <th style="width: 300px">Nazwa:</th>
                        <th style="width: 300px">Termin (M/D/R):</th>
                    </tr>
                </thead>
                <tbody>
                    @{if (Model.TodoDateName1 != null)
                        {
                            <tr>
                                <td>@Model.TodoDateName1</td>
                                <td>
                                    @if (Model.TodoDate1.HasValue)
                                    {
                                        @Model.TodoDate1.Value.ToString("MM/dd/yyyy")
                                    }
                                </td>
                            </tr>
                        }
                    }
                    @{if (Model.TodoDateName2 != null)
                        {
                            <tr>
                                <td>@Model.TodoDateName2</td>
                                <td>
                                    @if (Model.TodoDate2.HasValue)
                                    {
                                        @Model.TodoDate2.Value.ToString("MM/dd/yyyy")
                                    }
                                </td>
                            </tr>
                        }
                    }
                    @{if (Model.TodoDateName3 != null)
                        {
                            <tr>
                                <td>@Model.TodoDateName3</td>
                                <td>
                                    @if (Model.TodoDate3.HasValue)
                                    {
                                        @Model.TodoDate3.Value.ToString("MM/dd/yyyy")
                                    }
                                </td>
                            </tr>
                        } }
                    @{if (Model.TodoDateName4 != null)
                        {
                            <tr>
                                <td>@Model.TodoDateName4</td>
                                <td>
                                    @if (Model.TodoDate4.HasValue)
                                    {
                                        @Model.TodoDate4.Value.ToString("MM/dd/yyyy")
                                    }
                                </td>
                            </tr>
                        } }
                    @{if (Model.TodoDateName5 != null)
                        {
                            <tr>
                                <td>@Model.TodoDateName5</td>
                                <td>
                                    @if (Model.TodoDate5.HasValue)
                                    {
                                        @Model.TodoDate5.Value.ToString("MM/dd/yyyy")
                                    }
                                </td>
                            </tr>
                        } }
                    @{if (Model.TodoDateName6 != null)
                        {
                            <tr>
                                <td>@Model.TodoDateName6</td>
                                <td>
                                    @if (Model.TodoDate6.HasValue)
                                    {
                                        @Model.TodoDate6.Value.ToString("MM/dd/yyyy")
                                    }
                                </td>
                            </tr>
                        } }
                    @{if (Model.TodoDateName7 != null)
                        {
                            <tr>
                                <td>@Model.TodoDateName7</td>
                                <td>
                                    @if (Model.TodoDate7.HasValue)
                                    {
                                        @Model.TodoDate7.Value.ToString("MM/dd/yyyy")
                                    }
                                </td>
                            </tr>
                        } }
                    @{if (Model.TodoDateName8 != null)
                        {
                            <tr>
                                <td>@Model.TodoDateName8</td>
                                <td>
                                    @if (Model.TodoDate8.HasValue)
                                    {
                                        @Model.TodoDate8.Value.ToString("MM/dd/yyyy")
                                    }
                                </td>
                            </tr>
                        } }
                    @{if (Model.TodoDateName9 != null)
                        {
                            <tr>
                                <td>@Model.TodoDateName9</td>
                                <td>
                                    @if (Model.TodoDate9.HasValue)
                                    {
                                        @Model.TodoDate9.Value.ToString("MM/dd/yyyy")
                                    }
                                </td>
                            </tr>
                        } }
                    @{if (Model.TodoDateName10 != null)
                        {
                            <tr>
                                <td>@Model.TodoDateName10</td>
                                <td>
                                    @if (Model.TodoDate10.HasValue)
                                    {
                                        @Model.TodoDate10.Value.ToString("MM/dd/yyyy")
                                    }
                                </td>
                            </tr>
                        } }
                </tbody>
            </table>
        }
        else { }
    }
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("TodoEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $(document).ready(function () {

        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],


        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id2').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id3').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
    });
</script>
