@model Systematycznosc.ViewModels.TodoViewModel
@{
    ViewBag.Title = "Todo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body {
            background-color: #1abc9c
        }
    </style>
}


<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px;" id="Opener">Todo</h1>

    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>
    <div class="numberlist">
        <div style="font-size:37px; text-align:center;">Najważniejszy rzeczy którymi kierujesz się każdego dnia</div>
        <ol>
            @if (Model.Todo1 != null)
            {
                <li><a>@Model.Todo1</a></li>
            }
            @if (Model.Todo2 != null)
            {
                <li><a>@Model.Todo2</a></li>
            }
            @if (Model.Todo3 != null)
            {
                <li><a>@Model.Todo3</a></li>
            }
            @if (Model.Todo4 != null)
            {
                <li><a>@Model.Todo4</a></li>
            }
            @if (Model.Todo5 != null)
            {
                <li><a>@Model.Todo5</a></li>
            }
            @if (Model.Todo6 != null)
            {
                <li><a>@Model.Todo6</a></li>
            }
            @if (Model.Todo7 != null)
            {
                <li><a>@Model.Todo7</a></li>
            }
            @if (Model.Todo8 != null)
            {
                <li><a>@Model.Todo8</a></li>
            }
            @if (Model.Todo9 != null)
            {
                <li><a>@Model.Todo9</a></li>
            }
            @if (Model.Todo10 != null)
            {
                <li><a>@Model.Todo10</a></li>
            }
        </ol>
    </div>
    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("TodoEdit", "Home")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>

