<header class="masthead bg-primary text-white text-center">
    <div class=" d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->

        <img src="https://blackrockdigital.github.io/startbootstrap-freelancer/assets/img/avataaars.svg" class="img-circle" style="max-width:305px; padding-top:85px;">
        <!-- Masthead Heading -->

        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; line-height: 50px;">Witaj w pomocniku systematyczności</h1>


        <!-- Icon Divider -->
        <div class="divider-custom divider-light" style="padding-top:20px;">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">Twój własny asystent</p>

    </div>
</header>


<section class="page-section mb-0" id="Relationship">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center; color:black;">Czym jest ten serwis?</h1>
        <!-- Icon Divider -->
        <div class="divider-custom " style="">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content -->
        <div class="row col-lg-10">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Jest to darmowa strona, która pomaga w utrzymaniu systematyczności. Jeżeli do tej pory miałeś problemy z podążaniem wybraną przez siebie ścieżką, to w tej chwili znalazłeś się w odpowiednim miejscu, by zmienić ten bardzo ważny aspekt życia.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Zapewne każdemu przytrafiło się złożyć postanowienie typu "Od dziś nie jem słodyczy!". Następnie naprawdę przez kilka dni trzymać się tej ścieżki, aż by po miesiącu przypomnić sobie, że faktycznie, udało się nie jeść słodyczy przez pewien okres, ale nie pamiętamy kiedy to było i tego momentu, w którym o tym zapomnieliśmy.</p>
            </div>
            <div class="col-lg-10 mr-auto ml-auto">
                <p class="leadCenter">Jesteśmy ludzmi, więc zapominanie o takich sprawach jest naturalne. Żyjemy w czasach, w których ilość bodźców docierających do nas każdego dnia jest przeogromna. Mamy prawo zapomnieć o pewnych rzeczach.</p>
                <p class="leadCenter">Jednak wyobraź sobie, co by się stało, gdybyś nie miał tego problemu, że zapominasz o tym postanowieniu nie jedzenia słodyczy. Tylko dlatego, że codziennie z rana przeczytasz "nie jem słodyczy". Poprawia się Twoja sylwetka, czujesz się pewniejszy siebie, jesteś zdrowszy, Twoje możliwości się zwiększają. To tylko dlatego, że codziennie sobie przypominasz o tym postanowieniu.</p>
            </div>
            <!-- About Section Button -->
        </div>
    </div>
</section>


<section class="page-section mb-0 bg-primary" id="Relationship">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center; color:white;">Zachęcony? W takim razie od początku</h1>
        <!-- Icon Divider -->
        <div class="divider-custom " style="">
            <div class="divider-custom-line" style="background-color:white;"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white;"></i>
            </div>
            <div class="divider-custom-line" style="background-color:white;"></div>
        </div>
        <!-- About Section Content -->
        <div class="row col-lg-10">
            <div class="col-lg-8 ml-auto mr-auto">
                <p class="leadCenter">Aby sprawić, by pomocnik pracował dla nas należy zapoznać się z czego jest zbudowany. Otóż na samej górze znajduje się menu z podstronami. Będą one aktywne dopiero po zalogowaniu się.</p>
            </div>
        </div>
        <div class="row col-lg-10">
            <div class="col-lg-4 ml-auto mr-4">
                <div class="numberlist">
                    <ol>
                        <li><a>Credo</a></li>
                        <li><a>Związek</a></li>
                        <li><a>Pytania</a></li>
                        <li><a>Cele</a></li>
                        <li><a>Do zrobienia</a></li>
                        <li><a>Urodziny</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-4  mr-auto">
                <p class="lead">W każdą z podstron można wejść poprzez kliknięcie na górnym panelu nazwy. Po przekieriwaniu ujrzymy jeszcze nie gotowy panel. Aby go uzupełnić należy kliknąć plus dzięki któremu zostaniemy przeniesieni do edycji. </p>
                <p class="lead">Po zakończeniu i zapisaniu danego aspektu zostaje on na stałe przydzielony do danej zakładki oraz pojawia się w głównym panelu. </p>
                <p class="lead">Wybierz to co Cię interesuje. Nie musisz na siłę uzupełniać każdej zakładki. Jeżeli nie jesteś w związku możesz spokojnie ominąć ten aspekt, tak samo możesz postąpić z innymi kategoriami.</p>
            </div>
        </div>
        <div class="row col-lg-10">
            <div class="col-lg-8 ml-auto mr-auto" style="text-align:center;">
                <p class="lead">Wiesz już w tej chwili z jakich elementów składa się strona teraz omówimy każdą zakładkę z osobna.</p>
            </div>
        </div>
        <!-- About Section Button -->
    </div>
</section>


<section class="page-section mb-0" id="Relationship">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center; color:black;">Credo</h1>
        <!-- Icon Divider -->
        <div class="divider-custom " style="">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div style="color:; font-size:37px; text-align:center; padding-bottom:30px;">Najważniejszy rzeczy którymi kierujesz się każdego dnia</div>
        <!-- About Section Content -->
        <div class="row col-lg-10">
            <div class="col-lg-10 mr-auto ml-auto">
                <p class="leadCenter">
                    "Poglądy i zasady, którymi ktoś kieruje się w życiu" - definicja tego słowa wyjaśnia czego dotyczyć będzie ten aspekt. Jest to panel w którym należy zapisać zasady, najlepiej w czasie dokonanym.
                    Jeżeli uważasz, że za mało kontaktujesz się z rodziną lub przyjaciółmi zapisz "Pamiętam kogo Kocham. Dbam o rodzinę i przyjaciół" dzięki temu codziennie przypomnisz sobie o ich istnieniu i w czasie
                    z większym prawdopodobieństwem do nich napiszesz. Również dzięki Credo możesz zadbać o swój sprzęt elektroniczny, by nie wydawać pieniędzy co chwile po zniszczeniu. Zapewne jak większość po zakupie
                    telefonu lub innej delikatnej rzeczy przez pierwszy miesiąc dbasz o niego i kładziesz z namaszeczeniem na półkę, a po pewnym czasie zaczynasz nim rzucać jakby to był samolot. Zapisz "Dbam o sprzęt", dzięki
                    temu przywiążesz do tego większą wwagę. Przykładowe Credo:
                </p>
            </div>
        </div>
        <div class="col-lg-4 mr-auto ml-auto">
            <div class="numberlist">
                <ol>
                    <li><a>Dbam o sprzęt</a></li>
                    <li><a>Dbam o zdrowie</a></li>
                    <li><a>Nie jem słodyczy</a></li>
                    <li><a>Odżywiam się zdrowo</a></li>
                    <li><a>Dbam o rodzinę</a></li>
                    <li><a>Nie palę</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="page-section mb-0 bg-primary" id="Relationship">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center; color:white; ">Związek</h1>
        <!-- Icon Divider -->
        <div class="divider-custom " style="">
            <div class="divider-custom-line" style="background-color:white;"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white;"></i>
            </div>
            <div class="divider-custom-line" style="background-color:white;"></div>
        </div>
        <div style="color:; font-size:37px; text-align:center; padding-bottom:30px;">Rzeczy o których warto pamiętać byś był szczęśliwy</div>
        <!-- About Section Content -->
        <div class="row col-lg-10">
            <div class="col-lg-10 mr-auto ml-auto">
                <p class="leadCenter">
                    Każdy związek rządzi się swoimi prawami, ludzie posiadają swoje nawyki. Bycie z kimś to oprócz szczęścia również pewne kompromisy. Jeżeli Twój partner/partnerka nienawidzi,
                    gdy przysłowiowo rzucasz gdzie popadnie skarpetki lub uwielbia, gdy zwracasz się do niej/niego w słodki sposób, zapisz to. Dzięki temu unikniesz niepotrzebnych spięć a Wasz związek na tym zyska. Przykładowe punkty związku:
                </p>
            </div>
        </div>
        <div class="col-lg-4 mr-auto ml-auto">
            <div class="numberlist">
                <ol>
                    <li><a>Nie rozrzucam ubrań po podłodze</a></li>
                    <li><a>Zwracam się w miły i troskliwy sposób</a></li>
                    <li><a>Mówię "Kocham"</a></li>
                    <li><a>Nie krzyczę w złości</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="page-section mb-0" id="Relationship">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center; color:black;">Pytania</h1>
        <!-- Icon Divider -->
        <div class="divider-custom " style="">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div style="color:; font-size:37px; text-align:center; padding-bottom:30px;">Pytania poranne i wieczorne które zadaje sobie każdego dnia</div>
        <!-- About Section Content -->
        <div class="row col-lg-10">
            <div class="row col-lg-10">
                <div class="col-lg-4 ml-auto mr-4">
                    <div class="numberlist">
                        <ol>
                            <li><a>Za co jestem wdzięczny?</a></li>
                            <li><a>Kim chce zostać?</a></li>
                            <li><a>Czy coś mnie powstrzymuje?</a></li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p class="lead">
                        Pytania poranne: często z samego rana pierwsze co robimy to przeglądanie social mediów. Według niektórych badań jeżeli z rana to zrobimy, to nasz poziom szczęścia spada.
                        Można zastąpić ten rytuał zadaniem sobie pytań, jednym z nich może być "Za co jest wdzięczny". Sprawi to, że nasze myśli powędrują ku pozytywnym strefom. Przypomnimy sobie, że mamy np.
                        partnera/partnerkę, którzy nas kochają lub, że mamy ciepły dach, pyszne śniadanie, które nas czeka lub też inne pozytywne aspekty. Wyróżniamy pytanie poranne oraz wieczorne.
                    </p>
                </div>
            </div>
            <div class="row col-lg-10">
                <div class="col-lg-4 ml-auto mr-4">
                    <div class="numberlist">
                        <ol>
                            <li><a>Co dziś z siebie dałem?</a></li>
                            <li><a>Co mogłem zrobić lepiej?</a></li>
                            <li><a>Z czego jestem zadowolony?</a></li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <p class="lead">
                        Pytanie wieczorne: warto również je zadać, np. "co mogłem zrobić lepiej", "z czego jestem zadowolony". Dzięki temu będziemy w stanie wykonać pewne czynności lepiej następnego dnia,
                        w końcu człowiek który widzi swoje błędy jest w stanie je poprawić. Również warto podbudować sobie humor przypomnieniem co sprawiło zadowolenie.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section mb-0 bg-primary" id="Relationship">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center; color:white; ">Cele</h1>
        <!-- Icon Divider -->
        <div class="divider-custom " style="">
            <div class="divider-custom-line" style="background-color:white;"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white;"></i>
            </div>
            <div class="divider-custom-line" style="background-color:white;"></div>
        </div>
        <div style="color:; font-size:37px; text-align:center; padding-bottom:30px;">Warto je spełnić</div>
        <!-- About Section Content -->
        <div class="row col-lg-10">
            <div class="col-lg-10 mr-auto ml-auto">
                <p class="leadCenter">
                    Jeżeli ustalimy sobie, że nie jemy słodyczy, warto użyć do tego postanowienia tej zakładki. Tutaj nazwyamy swój cel, np "Nie jem słodyczy" i każdego wieczoru zapisujemy status tego dnia.
                    Jeżeli nie jedliśmy słodyczy zaznaczamy opcje "Tak", jeżeli jednak się skusiliśmy zaznaczamy opcje "Nie". Można ustalić, że po 7 dniach statusu "Tak" otrzymujemy nagrodę typu chipsy lub inne jedzenie które chcemy.
                    To Ty decydujesz jak to będzie działać.
                </p>
                <p class="leadCenter">
                    Cele mogą być różnorodne np. "Biegam" i analogicznie do poprzedniego każdego wieczoru zaznaczamy "Tak", "Nie" lub "Odpoczynek" jeżeli jest to dzień w którym nasze mięśnie odpoczywają.
                </p>
                <p class="leadCenter">
                    Przykładowy cel:
                </p>
            </div>
        </div>


        <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px;" id="">Biegam</h1>


        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line" style="background-color:white!important; width:70px;"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
            </div>
            <div class="divider-custom-line" style="background-color:white!important; width:70px;"></div>
        </div>
        <div style="font-size:37px; text-align:center; padding-bottom:50px;">Czy biegałem</div>
        <div style=" text-align: center; color:black; font-size:25px">
            <div>
                @Html.RadioButton("Tak", new { name = "", id = "" })@Html.Label("Tak")
                @Html.RadioButton("Nie", new { name = "", id = "" })@Html.Label("Nie")
            </div>
            <div>
                @Html.RadioButton("Odpoczynek", false)@Html.Label("Odpoczynek")
                @Html.RadioButton("Nagroda", false)@Html.Label("Nagroda")
            </div>
            <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                <button style="font-size:40px;" type="submit" value="" class="btn btn-success" name="" id="">Zapisz</button>
            </div>
        </div>
        <div class="mr-3 ml-3">
            <table id="table_id" class="table table-info table-hover" style="font-size:18px;">
                <thead>
                    <tr>
                        <th style="width: 300px">Imię:</th>
                        <th style="width: 300px">Urodziny (M/D/R):</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color:#116315">
                        <td>Nie</td>
                        <td>05.28.2020</td>
                    </tr>
                    <tr style="background-color:gold">
                        <td>Nagroda</td>
                        <td>05.27.2020</td>
                    </tr>
                    <tr style="background-color:green">
                        <td>Tak</td>
                        <td>05.26.2020</td>
                    </tr>
                    <tr style="background-color:green">
                        <td>Odpoczynek</td>
                        <td>05.25.2020</td>
                    </tr>
                    <tr style="background-color:green">
                        <td>Tak</td>
                        <td>05.24.2020</td>
                    </tr>
                    <tr style="background-color:green">
                        <td>Odpoczynek</td>
                        <td>05.23.2020</td>
                    </tr>
                    <tr style="background-color:green">
                        <td>Tak</td>
                        <td>05.22.2020</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


<section class="page-section mb-0" id="Relationship">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center; color:black;">Do zrobienia</h1>
        <!-- Icon Divider -->
        <div class="divider-custom " style="">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div style="color:; font-size:37px; text-align:center; padding-bottom:30px;">Po ich wykonaniu będzie Ci lżej</div>

        <div class="row col-lg-10">
            <div class="col-lg-10 mr-auto ml-auto">
                <p class="leadCenter">
                    Jest to zakładka, która skłąda się z dwóch elementów:
                </p>
            </div>
        </div>
        <!-- About Section Content -->
        <div class="row col-lg-10">
            <div class="row col-lg-10">
                <div class="col-lg-4 ml-auto mr-4">
                    <div class="numberlist">
                        <ol>
                            <li><a>Napraw kran</a></li>
                            <li><a>Zapisz się do lekarz?</a></li>
                            <li><a>Kup inną żarówkę</a></li>
                            <li><a>Podjedź do mechanika</a></li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p class="lead">
                        Pierwszy z nich dotyczy ważnych rzeczy do wykonania, którymi nie możemy zająć się w tej chwili. Zapisanie "podjedź do mechanika" sprawi, że będziemy pamiętać o tym, że trzeba to zrobić.
                        Dzięki temu istnieje większa szansa, że wykonamy daną czynność i nie zapomnimy o niej w natłoku dnia.
                    </p>
                </div>
            </div>
            <div class="row col-lg-10">
                <div class="col-lg-4 ml-auto mr-4">
                    <table id="table_id2" class="table table-info table-hover" style="font-size:18px;">
                        <thead>
                            <tr>
                                <th style="width: 300px">Nazwa:</th>
                                <th style="width: 300px">Termin (M/D/R):</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Przegląd samochodu</td>
                                <td>05.28.2021</td>
                            </tr>
                            <tr>
                                <td>Ubezpieczenie samochodu</td>
                                <td>05.27.2020</td>
                            </tr>
                            <tr>
                                <td>Umów następną wizytę u lekarza w marcu</td>
                                <td>03.01.2021</td>
                            </tr>
                            <tr>
                                <td>Zapisz się na prawojazdy w kwietniu</td>
                                <td>04.01.2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 ">
                    <p class="lead">
                        Drugi składnik tej zakładki to "ważne terminy". Tutaj możesz zapisać różne rzeczy, np. Dotyczące samochodu: "Przedląd techniczy ważny do 05.28.2020",
                        "Ubezpieczenie ważne do 01.03.2020" lub aspekt zdrowotny "Umów się do lekarza w marcu". Zapisz to co Cię interesuje i uwolnij się od stresu związanego z niepewnością.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="page-section mb-0 bg-primary" id="Relationship">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center; color:white; ">Urodziny</h1>
        <!-- Icon Divider -->
        <div class="divider-custom " style="">
            <div class="divider-custom-line" style="background-color:white;"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white;"></i>
            </div>
            <div class="divider-custom-line" style="background-color:white;"></div>
        </div>
        <div style="color:; font-size:37px; text-align:center; padding-bottom:30px;">Warto pamiętać o najbliższych</div>
        <!-- About Section Content -->
        <div class="row col-lg-10">
            <div class="col-lg-10 mr-auto ml-auto">
                <p class="leadCenter">
                    Jak sama nazwa wskazuje aspekt ten dotyczy urodzin. Jak wiadomo, trudno jest zapamiętać datę urodzin najbliższych, do tego łatwo je przegapić. Dzięki tej zakładce codziennie
                    będziesz widzieć kto ma kiedy urodziny. Zostanie Ci czas na zaplanowanie niespodziewanego prezentu. Ta podstrona podzielona jest na 3 kategorie: rodzina, przyjaciele, inni.
                </p>
            </div>
        </div>
        <div class="mr-3 ml-3">
            <table id="table_id3" class="table table-info table-hover" style="font-size:18px;">
                <thead>
                    <tr>
                        <th style="width: 300px">Nazwa:</th>
                        <th style="width: 300px">Termin (M/D/R):</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mama</td>
                        <td>05.28.1962</td>
                    </tr>
                    <tr>
                        <td>Tata</td>
                        <td>05.27.1960</td>
                    </tr>
                    <tr>
                        <td>Marek</td>
                        <td>03.01.1991</td>
                    </tr>
                    <tr>
                        <td>Dziewczyna</td>
                        <td>04.01.1990</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="page-section mb-0" id="Relationship">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0 questions" style="font-size:55px; padding-top:55px; text-align:center; color:black;">Jesteś już gotów</h1>
        <!-- Icon Divider -->
        <div class="divider-custom " style="">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div style="color:; font-size:37px; text-align:center; padding-bottom:30px;">Zarejestruj się!</div>
        <!-- About Section Content -->
        <div class="row col-lg-10">
            <div class="col-lg-10 mr-auto ml-auto">
                <p class="leadCenter">
                    Gratuluje za przeczytanie całego tekstu. Dzięki niemu poznałeś założenia oraz na czym polega serwis. Teraz jesteś w stanie efektywnie korzystać z asystenta. Pamiętaj by codziennie z samego rana oraz przed pójściem spać wejść na serwis. Dzięki temu wykorzystasz go w 100%!
                </p>
            </div>
        </div>
        <div class="text-center mt-4">
            @Html.ActionLink("Zarejestruj się", "Register", "Account", null, new { @class = "btn btn-xl btn-outline-dark", style = "" })
        </div>
    </div>
</section>







@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $(document).ready(function () {

        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "desc"]],

        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id2').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "desc"]],

        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id3').DataTable({
            paging: false,
            searching: false,
            info: false,
            "order": [[1, "desc"]],
        });
        $.fn.dataTable.moment('DD/MM/YY');
        $('#table_id4').DataTable({

            paging: false,
            searching: false,
            info: false,
            "order": [[1, "asc"]],
        });
    });
</script>
