@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    <div style="text-align:center;">
        @Html.ActionLink(User.Identity.GetUserName(), "Manage", "Profile", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:white", @class = "" })
    </div>
    <div style="text-align:center;">
        <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white" class="">Wyloguj</a>
    </div>
        @*<ul class="navbar-nav navbar-right">
            <li class="py-3 px-0 rounded js-scroll-trigger" href="#Credo">
                @Html.ActionLink(User.Identity.GetUserName(), "Manage", "Profile", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:white", @class="navbar-brand" })
            </li>
            <li class="py-3 px-0  rounded js-scroll-trigger" href="#Credo"><a href="javascript:document.getElementById('logoutForm').submit()" style="color:white" class="navbar-brand">Wyloguj</a></li>
        </ul>*@
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
