<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            margin: 0;
            font-size: 20px;
            background-color: #1abc9c!important;
        }

        #container {
            background-color: white;
            width: 380px;
            padding: 50px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.5);
            -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.5);
            box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.5);
        }

        input[type=text],
        input[type=password] {
            width: 300px;
            background-color: #efefef;
            color: #666;
            border: 2px solid #ddd;
            border-radius: 5px;
            font-size: 20px;
            padding: 10px;
            box-sizing: border-box;
            outline: none;
            margin-top: 10px;
        }

            input[type=text]:focus,
            input[type=password]:focus {
                -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
                -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
                box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
                border: 2px solid #a5cda5;
                background-color: #e9f3e9;
                color: #428c42;
            }

        input[type=submit] {
            width: 300px;
            background-color: #36b03c;
            font-size: 20px;
            color: white;
            padding: 15px 10px;
            margin-top: 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 2px;
            outline: none;
        }

            input[type=submit]:focus {
                -webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
                -moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
                box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
            }

            input[type=submit]:hover {
                background-color: #37b93d;
            }

        input::-webkit-input-placeholder {
            color: #999;
        }

        input:focus::-webkit-input-placeholder {
            color: #428C42;
        }
        /* Firefox < 19 */
        input:-moz-placeholder {
            color: #999;
        }

        input:focus:-moz-placeholder {
            color: #428C42;
        }
        /* Firefox > 19 */
        input::-moz-placeholder {
            color: #999;
        }

        input:focus::-moz-placeholder {
            color: #428C42;
        }
        /* Internet Explorer 10 */
        input:-ms-input-placeholder {
            color: #999;
        }

        input:focus:-ms-input-placeholder {
            color: #428C42;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@*<body style="background-color: #1abc9c;">

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@
<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand">@Html.ActionLink("Główny Panel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white; font-size: 1.75em;text-decoration:none; font-size:25px; text-align:center;" })</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse align-items-center" id="navbarResponsive">
                    <ul class="navbar-nav" style="align-items:center; width:100%;">

                        <li class="px-0 rounded js-scroll-trigger">@Html.ActionLink("Credo", "Credo", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })</li>


                        <li class=" px-0  rounded js-scroll-trigger">@Html.ActionLink("Związek", "Relationship", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })</li>


                        <li class=" px-0  rounded js-scroll-trigger">@Html.ActionLink("Pytania", "Questions", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })</li>

                        <li class=" px-0  rounded js-scroll-trigger">@Html.ActionLink("Cele", "Goals", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })</li>

                        <li class=" px-0  rounded js-scroll-trigger">@Html.ActionLink("Do zrobienia", "TODO", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })</li>

                        <li class=" px-0 rounded js-scroll-trigger">@Html.ActionLink("Urodziny", "Birthday", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })</li>

                        <li class=" px-0  rounded js-scroll-trigger" style="display:block!important;">@Html.Partial("_LoginPartial")</li>

                    </ul>

                </div>
            </div>
        </nav>


        @RenderBody()



        <footer class="copyright py-4 text-center text-white" style="padding-bottom:24px; padding-top:24px; font-size: 16px; ">

            <small>Copyright &copy; Dariusz Filar 2019</small>

        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/jqueryui")
    </div>
</body>
</html>
