@model Systematycznosc.ViewModels.GoalViewModel
@{ string AGoalColor1 = "";
    string AGoalColor2 = "";
    string AGoalColor3 = "";
    string AGoalColor4 = "";
    string AGoalColor5 = "";
    string AGoalColor6 = "";
    string AGoalColor7 = "";
    string DefaultColor = "#116315";

    if (Model.EightGoals[0].GoalStatus == "Tak") { AGoalColor1 = "green;"; };
    if (Model.EightGoals[0].GoalStatus == "Odpoczynek") { AGoalColor1 = "green;"; };
    if (Model.EightGoals[0].GoalStatus == "Nie") { AGoalColor1 = "#116315"; };
    if (Model.EightGoals[0].GoalStatus == "Nagroda") { AGoalColor1 = "gold"; };
    if (Model.EightGoals[1].GoalStatus == "Tak") { AGoalColor2 = "green;"; };
    if (Model.EightGoals[1].GoalStatus == "Odpoczynek") { AGoalColor2 = "green;"; };
    if (Model.EightGoals[1].GoalStatus == "Nie") { AGoalColor2 = "#116315"; };
    if (Model.EightGoals[1].GoalStatus == "Nagroda") { AGoalColor2 = "gold"; };
    if (Model.EightGoals[2].GoalStatus == "Tak") { AGoalColor3 = "green"; };
    if (Model.EightGoals[2].GoalStatus == "Odpoczynek") { AGoalColor3 = "green"; };
    if (Model.EightGoals[2].GoalStatus == "Nie") { AGoalColor3 = "#116315"; };
    if (Model.EightGoals[2].GoalStatus == "Nagroda") { AGoalColor3 = "gold"; };
    if (Model.EightGoals[3].GoalStatus == "Tak") { AGoalColor4 = "green"; };
    if (Model.EightGoals[3].GoalStatus == "Odpoczynek") { AGoalColor4 = "green"; };
    if (Model.EightGoals[3].GoalStatus == "Nie") { AGoalColor4 = "#116315"; };
    if (Model.EightGoals[3].GoalStatus == "Nagroda") { AGoalColor4 = "gold"; };
    if (Model.EightGoals[4].GoalStatus == "Tak") { AGoalColor5 = "green"; };
    if (Model.EightGoals[4].GoalStatus == "Odpoczynek") { AGoalColor5 = "green"; };
    if (Model.EightGoals[4].GoalStatus == "Nie") { AGoalColor5 = "#116315"; };
    if (Model.EightGoals[4].GoalStatus == "Nagroda") { AGoalColor5 = "gold"; };
    if (Model.EightGoals[5].GoalStatus == "Tak") { AGoalColor6 = "green"; };
    if (Model.EightGoals[5].GoalStatus == "Odpoczynek") { AGoalColor6 = "green"; };
    if (Model.EightGoals[5].GoalStatus == "Nie") { AGoalColor6 = "#116315"; };
    if (Model.EightGoals[5].GoalStatus == "Nagroda") { AGoalColor6 = "gold"; };
    if (Model.EightGoals[6].GoalStatus == "Tak") { AGoalColor7 = "green"; };
    if (Model.EightGoals[6].GoalStatus == "Odpoczynek") { AGoalColor7 = "green"; };
    if (Model.EightGoals[6].GoalStatus == "Nie") { AGoalColor7 = "#116315"; };
    if (Model.EightGoals[6].GoalStatus == "Nagroda") { AGoalColor7 = "gold"; };
}

<div class="mr-3 ml-3">
    <table id="table_id" class="table table-info table-hover table table-info table-hover dataTable no-footer" style="font-size:18px; width:auto;">
        <thead>
            <tr>
                <th style="width: 300px">Data:</th>
                <th style="width: 300px">Status:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @{ DateTime data1 = DateTime.Today;

                    if (Model.EightGoals[0].GoalDate == data1)
                    {
                        <td style="background-color:@AGoalColor1">
                            <div>@data1.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor1">
                            <div>@Model.EightGoals[0].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[1].GoalDate == data1)
                    {
                        <td style="background-color:@AGoalColor2">
                            <div>@data1.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor2">
                            <div>@Model.EightGoals[1].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[2].GoalDate == data1)
                    {
                        <td style="background-color:@AGoalColor3">
                            <div>@data1.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor3">
                            <div>@Model.EightGoals[2].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[3].GoalDate == data1)
                    {
                        <td style="background-color:@AGoalColor4">
                            <div @AGoalColor4>@data1.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor4">
                            <div>@Model.EightGoals[3].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[4].GoalDate == data1)
                    {
                        <td style="background-color:@AGoalColor5">
                            <div>@data1.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor5">
                            <div>@Model.EightGoals[4].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[5].GoalDate == data1)
                    {
                        <td style="background-color:@AGoalColor6">
                            <div>@data1.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor6">
                            <div>@Model.EightGoals[5].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[6].GoalDate == data1)
                    {
                        <td style="background-color:@AGoalColor7">
                            <div>@data1.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor7">
                            <div>@Model.EightGoals[6].GoalStatus</div>
                        </td>
                    }
                    else
                    {
                        <td style="background-color:@DefaultColor">
                            <div>@data1.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@DefaultColor">
                            <div>Nie</div>
                        </td>
                    }

                }
            </tr>
            <tr>
                @{ DateTime data2 = DateTime.Today.AddDays(-1); ;
                    if (Model.EightGoals[0].GoalDate == data2)
                    {
                        <td style="background-color:@AGoalColor1">
                            <div>@data2.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor1">
                            <div>@Model.EightGoals[0].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[1].GoalDate == data2)
                    {
                        <td style="background-color:@AGoalColor2">
                            <div>@data2.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor2">
                            <div>@Model.EightGoals[1].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[2].GoalDate == data2)
                    {
                        <td style="background-color:@AGoalColor3">
                            <div>@data2.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor3">
                            <div>@Model.EightGoals[2].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[3].GoalDate == data2)
                    {
                        <td style="background-color:@AGoalColor4">
                            <div>@data2.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor4">
                            <div>@Model.EightGoals[3].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[4].GoalDate == data2)
                    {
                        <td style="background-color:@AGoalColor5">
                            <div>@data2.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor5">
                            <div>@Model.EightGoals[4].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[5].GoalDate == data2)
                    {
                        <td style="background-color:@AGoalColor6">
                            <div>@data2.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor6">
                            <div>@Model.EightGoals[5].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[6].GoalDate == data2)
                    {
                        <td style="background-color:@AGoalColor7">
                            <div>@data2.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor7">
                            <div>@Model.EightGoals[6].GoalStatus</div>
                        </td>
                    }
                    else
                    {
                        <td style="background-color:@DefaultColor">
                            <div>@data2.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@DefaultColor">
                            <div>Nie</div>
                        </td>
                    } }
            </tr>
            <tr>
                @{ DateTime data3 = DateTime.Today.AddDays(-2); ;
                    if (Model.EightGoals[0].GoalDate == data3)
                    {
                        <td style="background-color:@AGoalColor1">
                            <div>@data3.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor1">
                            <div>@Model.EightGoals[0].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[1].GoalDate == data3)
                    {
                        <td style="background-color:@AGoalColor2">
                            <div>@data3.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor2">
                            <div>@Model.EightGoals[1].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[2].GoalDate == data3)
                    {
                        <td style="background-color:@AGoalColor3">
                            <div>@data3.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor3">
                            <div>@Model.EightGoals[2].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[3].GoalDate == data3)
                    {
                        <td style="background-color:@AGoalColor4">
                            <div>@data3.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor4">
                            <div>@Model.EightGoals[3].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[4].GoalDate == data3)
                    {
                        <td style="background-color:@AGoalColor5">
                            <div>@data3.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor5">
                            <div>@Model.EightGoals[4].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[5].GoalDate == data3)
                    {
                        <td style="background-color:@AGoalColor6">
                            <div>@data3.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor6">
                            <div>@Model.EightGoals[5].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[6].GoalDate == data3)
                    {
                        <td style="background-color:@AGoalColor7">
                            <div>@data3.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor7">
                            <div>@Model.EightGoals[6].GoalStatus</div>
                        </td>
                    }
                    else
                    {
                        <td style="background-color:@DefaultColor">
                            <div>@data3.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@DefaultColor">
                            <div>Nie</div>
                        </td>
                    } }
            </tr>
            <tr>
                @{ DateTime data4 = DateTime.Today.AddDays(-3); ;
                    if (Model.EightGoals[0].GoalDate == data4)
                    {
                        <td style="background-color:@AGoalColor1">
                            <div>@data4.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor1">
                            <div>@Model.EightGoals[0].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[1].GoalDate == data4)
                    {
                        <td style="background-color:@AGoalColor2">
                            <div>@data4.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor2">
                            <div>@Model.EightGoals[1].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[2].GoalDate == data4)
                    {
                        <td style="background-color:@AGoalColor3">
                            <div>@data4.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor3">
                            <div>@Model.EightGoals[2].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[3].GoalDate == data4)
                    {
                        <td style="background-color:@AGoalColor4">
                            <div>@data4.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor4">
                            <div>@Model.EightGoals[3].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[4].GoalDate == data4)
                    {
                        <td style="background-color:@AGoalColor5">
                            <div>@data4.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor5">
                            <div>@Model.EightGoals[4].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[5].GoalDate == data4)
                    {
                        <td style="background-color:@AGoalColor6">
                            <div>@data4.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor6">
                            <div>@Model.EightGoals[5].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[6].GoalDate == data4)
                    {
                        <td style="background-color:@AGoalColor7">
                            <div>@data4.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor7">
                            <div>@Model.EightGoals[6].GoalStatus</div>
                        </td>
                    }
                    else
                    {
                        <td style="background-color:@DefaultColor">
                            <div>@data3.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@DefaultColor">
                            <div>Nie</div>
                        </td>
                    } }
            </tr>
            <tr>
                @{ DateTime data5 = DateTime.Today.AddDays(-4); ;
                    if (Model.EightGoals[0].GoalDate == data5)
                    {
                        <td style="background-color:@AGoalColor1">
                            <div>@data5.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor1">
                            <div>@Model.EightGoals[0].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[1].GoalDate == data5)
                    {
                        <td style="background-color:@AGoalColor2">
                            <div>@data5.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor2">
                            <div>@Model.EightGoals[1].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[2].GoalDate == data5)
                    {
                        <td style="background-color:@AGoalColor3">
                            <div>@data5.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor3">
                            <div>@Model.EightGoals[2].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[3].GoalDate == data5)
                    {
                        <td style="background-color:@AGoalColor4">
                            <div>@data5.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor4">
                            <div>@Model.EightGoals[3].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[4].GoalDate == data5)
                    {
                        <td style="background-color:@AGoalColor5">
                            <div>@data5.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor5">
                            <div>@Model.EightGoals[4].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[5].GoalDate == data5)
                    {
                        <td style="background-color:@AGoalColor6">
                            <div>@data5.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor6">
                            <div>@Model.EightGoals[5].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[6].GoalDate == data5)
                    {
                        <td style="background-color:@AGoalColor7">
                            <div>@data5.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor7">
                            <div>@Model.EightGoals[6].GoalStatus</div>
                        </td>
                    }
                    else
                    {
                        <td style="background-color:@DefaultColor">
                            <div>@data5.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@DefaultColor">
                            <div>Nie</div>
                        </td>
                    } }
            </tr>
            <tr>
                @{ DateTime data6 = DateTime.Today.AddDays(-5); ;
                    if (Model.EightGoals[0].GoalDate == data6)
                    {
                        <td style="background-color:@AGoalColor1">
                            <div>@data6.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor1">
                            <div>@Model.EightGoals[0].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[1].GoalDate == data6)
                    {
                        <td style="background-color:@AGoalColor2">
                            <div>@data6.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor2">
                            <div>@Model.EightGoals[1].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[2].GoalDate == data6)
                    {
                        <td style="background-color:@AGoalColor3">
                            <div>@data6.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor3">
                            <div>@Model.EightGoals[2].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[3].GoalDate == data6)
                    {
                        <td style="background-color:@AGoalColor4">
                            <div>@data6.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor4">
                            <div>@Model.EightGoals[3].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[4].GoalDate == data6)
                    {
                        <td style="background-color:@AGoalColor5">
                            <div>@data6.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor5">
                            <div>@Model.EightGoals[4].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[5].GoalDate == data6)
                    {
                        <td style="background-color:@AGoalColor6">
                            <div>@data6.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor6">
                            <div>@Model.EightGoals[5].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[6].GoalDate == data6)
                    {
                        <td style="background-color:@AGoalColor7">
                            <div>@data6.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor7">
                            <div>@Model.EightGoals[6].GoalStatus</div>
                        </td>
                    }
                    else
                    {
                        <td style="background-color:@DefaultColor">
                            <div>@data6.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@DefaultColor">
                            <div>Nie</div>
                        </td>
                    } }
            </tr>
            <tr>
                @{ DateTime data7 = DateTime.Today.AddDays(-6); ;
                    if (Model.EightGoals[0].GoalDate == data7)
                    {
                        <td style="background-color:@AGoalColor1">
                            <div>@data7.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor1">
                            <div>@Model.EightGoals[0].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[1].GoalDate == data7)
                    {
                        <td style="background-color:@AGoalColor2">
                            <div>@data7.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor2">
                            <div>@Model.EightGoals[1].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[2].GoalDate == data7)
                    {
                        <td style="background-color:@AGoalColor3">
                            <div>@data7.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor3">
                            <div>@Model.EightGoals[2].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[3].GoalDate == data7)
                    {
                        <td style="background-color:@AGoalColor4">
                            <div>@data7.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor4">
                            <div>@Model.EightGoals[3].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[4].GoalDate == data7)
                    {
                        <td style="background-color:@AGoalColor5">
                            <div>@data7.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor5">
                            <div>@Model.EightGoals[4].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[5].GoalDate == data7)
                    {
                        <td style="background-color:@AGoalColor6">
                            <div>@data7.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@AGoalColor6">
                            <div>@Model.EightGoals[5].GoalStatus</div>
                        </td>
                    }
                    else if (Model.EightGoals[6].GoalDate == data7)
                    {
                        <td style="background-color:@AGoalColor7">
                            <div>@data7.ToShortDateString()</div>
                        </td>
                        <td>
                            <div>@Model.EightGoals[6].GoalStatus</div>
                        </td>
                    }
                    else
                    {
                        <td style="background-color:@DefaultColor">
                            <div>@data7.ToShortDateString()</div>
                        </td>
                        <td style="background-color:@DefaultColor">
                            <div>Nie</div>
                        </td>
                    }
                }
            </tr>
        </tbody>
    </table>
</div>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
}

@Scripts.Render("~/bundles/jquery")

