@model Systematycznosc.ViewModels.GoalViewModel


@{
    string icon = "";
    string color = "";
    int colornumber = 1;
    string colordescription = "";
}

<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">
    <h1 class="masthead-heading text-uppercase mb-0 openTheard">Cele dzienne</h1>
    <div class="divider-custom divider-light" style="">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>
    <div style="font-size:37px; text-align:center; padding-bottom:50px;">Warto je spełniać</div>

    @{
        if (Model.EightGoals.Count() == 0)
        {
            using (Html.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                {
                    <div class="form-group">
                        <div class="col-md-10" style="margin-left: auto; margin-right: auto; float: none!important;">
                            @Html.Label("Nazwa celu:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none; color: white;" })
                            @Html.TextBox("goalName", null, new { placeholder = "Tu wpisz pytanie odnośnie celu", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;", name = "relationshipValue", required = string.Empty })
                            @Html.Label("Pytanie odnośnie celu:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;color: white" })
                            @Html.TextBox("goalQuestion", null, new { placeholder = "Tu wpisz pytanie odnośnie celu", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;", name = "relationshipValue", required = string.Empty })
                        </div>
                    </div>
                }
                <div style="padding-bottom:50px; padding-top:20px;">
                    <div class="saveButtonDiv">
                        <button style="font-size:20px; color:white;" type="submit" value="newGoal" class="btn btn-xl btn-outline-info btn-secondary" id="saveButton" name="savebutton">Zapisz</button>
                    </div>
                    @if (@Model.FirstGoals.Count() > 2)
                    {
                    <div class="saveButtonDiv" id="panel2">
                        @Html.ActionLink("Panel edycyjny", "Goaledit", "Goal", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
                    </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="saveButtonDiv" id="panel">
                @Html.ActionLink("Panel edycyjny", "GoalEdit", "Goal", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
            </div>
        }
    }
</div>

@{
    if (Model.FirstGoals.Any(x => x.GoalName != null))
    {
        if (Model.FirstGoals[0].GoalName != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-white";
                icon = "divider-black";
                colordescription = "black";
            }
            else
            {
                color = "";
                icon = "divider-light";
                colordescription = "white";
            };
            <div class=" d-flex align-items-center flex-column @color pb-5">
                <h1 class="masthead-heading text-uppercase mb-0 goalTheard" style="color:@colordescription">@Model.FirstGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="goalSubTheard" style="color:@colordescription">@Model.FirstGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "FirstGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "FirstGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div class="saveButtonDiv">
                        <button style="font-size:40px;" type="submit" value="firstGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="FirstGoalTable">@{Html.RenderPartial("_FirstGoalTable", Model);}</div>
            </div>
        }
    }
}

@{
    if (Model.SecondGoals.Any(x => x.GoalName != null))
    {

        if (Model.SecondGoals[0].GoalName != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-white";
                icon = "divider-black";
                colordescription = "black";
            }
            else
            {
                color = "";
                icon = "divider-light";
                colordescription = "white";
            };
            <div class=" d-flex align-items-center flex-column @color pb-5">
                <h1 class="masthead-heading text-uppercase mb-0 goalTheard" style="color:@colordescription">@Model.SecondGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="goalSubTheard" style="color:@colordescription">@Model.SecondGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "SecondGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "SecondGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div class="saveButtonDiv">
                        <button style="font-size:40px;" type="submit" value="secondGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="SecondGoalTable">@{Html.RenderPartial("_SecondGoalTable", Model);}</div>
            </div>
        }
    }
}

@{
    if (Model.ThirdGoals.Any(x => x.GoalName != null))
    {
        if (Model.ThirdGoals[0].GoalName != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-white";
                icon = "divider-black";
                colordescription = "black";
            }
            else
            {
                color = "";
                icon = "divider-light";
                colordescription = "white";
            };
            <div class=" d-flex align-items-center flex-column @color pb-5">
                <h1 class="masthead-heading text-uppercase mb-0 goalTheard" style="color:@colordescription">@Model.ThirdGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="goalSubTheard" style="color:@colordescription;">@Model.ThirdGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "ThirdGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ThirdGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div class="saveButtonDiv">
                        <button style="font-size:40px;" type="submit" value="thirdGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="ThirdGoalTable">@{Html.RenderPartial("_ThirdGoalTable", Model);}</div>
            </div>
        }
    }
}

@{
    if (Model.FourthGoals.Any(x => x.GoalName != null))
    {
        if (Model.FourthGoals[0].GoalName != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-white";
                icon = "divider-black";
                colordescription = "black";
            }
            else
            {
                color = "";
                icon = "divider-light";
                colordescription = "white";
            };
            <div class=" d-flex align-items-center flex-column @color pb-5">
                <h1 class="masthead-heading text-uppercase mb-0 goalTheard" style="color:@colordescription">@Model.FourthGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="goalSubTheard" style="color:@colordescription;">@Model.FourthGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "FourthGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "FourthGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div class="saveButtonDiv">
                        <button style="font-size:40px;" type="submit" value="fourthGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="FourthGoalTable">@{Html.RenderPartial("_FourthGoalTable", Model);}</div>
            </div>
        }
    }
}

@{
    if (Model.FifthGoals.Any(x => x.GoalName != null))
    {
        if (Model.FifthGoals[0].GoalName != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-white";
                icon = "divider-black";
                colordescription = "black";
            }
            else
            {
                color = "";
                icon = "divider-light";
                colordescription = "white";
            };
            <div class=" d-flex align-items-center flex-column @color pb-5">
                <h1 class="masthead-heading text-uppercase mb-0 goalTheard" style="color:@colordescription">@Model.FifthGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="goalSubTheard" style="color:@colordescription;">@Model.FifthGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "FifthGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "FifthGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div class="saveButtonDiv">
                        <button style="font-size:40px;" type="submit" value="fifthGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="FifthGoalTable">@{Html.RenderPartial("_FifthGoalTable", Model);}</div>
            </div>
        }
    }
}

@{
    if (Model.SixthGoals.Any(x => x.GoalName != null))
    {
        if (Model.SixthGoals[0].GoalName != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-white";
                icon = "divider-black";
                colordescription = "black";
            }
            else
            {
                color = "";
                icon = "divider-light";
                colordescription = "white";
            };
            <div class=" d-flex align-items-center flex-column @color pb-5">
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:@colordescription">@Model.SixthGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="goalSubTheard" style="color:@colordescription;">@Model.SixthGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "SixthGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "SixthGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div class="saveButtonDiv">
                        <button style="font-size:40px;" type="submit" value="sixthGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="SixthGoalTable">@{Html.RenderPartial("_SixthGoalTable", Model);}</div>
            </div>
        }
    }
}

@{
    if (Model.SeventhGoals.Any(x => x.GoalName != null))
    {
        if (Model.SeventhGoals[0].GoalName != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-white";
                icon = "divider-black";
                colordescription = "black";
            }
            else
            {
                color = "";
                icon = "divider-light";
                colordescription = "white";
            };
            <div class=" d-flex align-items-center flex-column @color pb-5">
                <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top:55px;text-align:center; color:@colordescription">@Model.SeventhGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="goalSubTheard" style="color:@colordescription;">@Model.SeventhGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "SeventhGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "SeventhGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div class="saveButtonDiv">
                        <button style="font-size:40px;" type="submit" value="seventhGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="SeventhGoalTable">@{Html.RenderPartial("_SeventhGoalTable", Model);}</div>
            </div>
        }
    }
}

@{
    if (Model.EightGoals.Any(x => x.GoalName != null))
    {
        if (Model.EightGoals[0].GoalName != null)
        {
            colornumber++;
            if ((colornumber % 2) == 0)
            {
                color = "bg-white";
                icon = "divider-black";
                colordescription = "black";
            }
            else
            {
                color = "";
                icon = "divider-light";
                colordescription = "white";
            };
            <div class=" d-flex align-items-center flex-column @color pb-5">
                <h1 class="masthead-heading text-uppercase mb-0 goalTheard" style="color:@colordescription">@Model.EightGoals[0].GoalName</h1>
                <!-- Icon Divider -->
                <div class="divider-custom @icon" style="">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="goalSubTheard" style="color:@colordescription;">@Model.EightGoals[0].GoalQuestion</div>
                @using (Ajax.BeginForm("Index", "Goal", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "EightGoalTable" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "EightGoalTable" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.RadioButton("status", "Tak", new { name = "", id = "" })@Html.Label("Tak")
                        @Html.RadioButton("status", "Nie", new { name = "", id = "" })@Html.Label("Nie")
                    </div>
                    <div>
                        @Html.RadioButton("status", "Odpoczynek", new { name = "", id = "" })@Html.Label("Odpoczynek")
                        @Html.RadioButton("status", "Nagroda", new { name = "", id = "" })@Html.Label("Nagroda")
                    </div>
                    <div class="saveButtonDiv">
                        <button style="font-size:40px;" type="submit" value="eightGoal" class="btn btn-success" name="saveButton" id="saveButton">Zapisz</button>
                    </div>
                }
                <div id="EightGoalTable">@{Html.RenderPartial("_EightGoalTable", Model);}</div>
            </div>
        }
    }
}

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
}

@Scripts.Render("~/bundles/jquery")