@using Systematycznosc.Models
@model Systematycznosc.ViewModels.CredoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body {
            background-color: #1abc9c
        }
    </style>
}

<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; text-align:center;" id="Opener">Credoes</h1>

    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>

    <div id="addCredo">@{Html.RenderPartial("_AddCredo", Model);}</div>

    @{ if (Model.Credos.Count() < 12)
        {
            using (Ajax.BeginForm("Index", "Credo", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "addCredo" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "addCredo" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px", id = "addform" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                {
                    <div class="form-group" style="text-align: center;">
                        <div class="col-md-10" style="margin-left: auto; margin-right: auto; float: none !important;">
                            @Html.Label("Zasada credo:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                            @Html.TextBox("credoValue", null, new { placeholder = "Tu wpisz zasadę", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;", name = "credoValue" })
                        </div>
                    </div>
                }
                <div style="padding-bottom:50px; padding-top:20px;">
                    <div style=" padding-bottom:3px; padding-left:3px; padding-right:3px; padding-top:3px; display:inline-block; margin-bottom:10px;">
                        <button style="font-size:40px;" type="submit" value="Log in" class="btn btn-success" id="save">Zapisz</button>
                    </div>
                </div>
            }
        }
        else
        {
            <div style="font-size:25px; color:black;">Osiągnięto maksymakną ilość Credo, wejdź w opcje by edytować</div>}
    }

    <div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
        <a href="@Url.Action("CredoEdit", "Credo")" id="HoverNone">
            <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
        </a>
    </div>
</div>

@section Scripts
{
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    var Ammount = @Model.Credos.Count();
    $('#save').click(function (e) {
        $.ajax({
            success: function (data) {
                Ammount++;
                if (Ammount > 11) {
                    $("#addform").html("Osiągnięto maksymakną ilość Credo, wejdź w opcje by edytować");
                }
            },
        });
    });
</script>
