@using Systematycznosc.Models
@model Systematycznosc.ViewModels.BirthdayViewModel

<div class="d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">
    <h1 class="masthead-heading text-uppercase mb-0" id="Opener">Urodziny rodziny</h1>
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>

    <div id="addFamilyBirthday">@{Html.RenderPartial("_AddFamilyBirthday", Model);}</div>

    @{ if (Model.FamilyBirthdays.Count() < 12)
        {
            using (Ajax.BeginForm("Index", "Birthday", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "addFamilyBirthday" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "addFamilyBirthday" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px", id = "addformFamilyBirthday" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                {
                    <div class="form-group">
                        <div class="col-md-10" style="margin-left: auto; margin-right: auto; float: none!important;">
                            @Html.Label("Imie i nazwisko:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                            @Html.TextBox("familyBirthdayName", null, new { placeholder = "Tu wpisz imię oraz nazwisko", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;", required = string.Empty })
                            @Html.TextBox("familyBirthdayDate", null, new { @type = "date", @class = " datepicker", @style = "font-size:25px; margin-top:5px", required = string.Empty })
                        </div>
                    </div>
                }
                <div style="padding-bottom:50px; padding-top:20px;">
                    <div class="saveButtonDiv">
                        <button style="font-size:20px; color:white;" type="submit" class="btn btn-xl btn-outline-info btn-secondary" id="saveButtonFamilyBirthday">Zapisz</button>
                    </div>
                    <div class="saveButtonDiv" id="panelFamilyBirthay">
                        @Html.ActionLink("Panel edycyjny", "FamilyBirthdayEdit", "Birthday", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
                    </div>
                </div>
            }
        }
        else
        {
            <div style="font-size:25px; color:black;" class="mr-1">Osiągnięto maksymalną ilość osób, wejdź w opcje by edytować</div>
        }
    }
    <div class="saveButtonDiv" id="panelFamilyBirthay2">
        @Html.ActionLink("Panel edycyjny", "FamilyBirthdayEdit", "Birthday", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
    </div>
</div>

<div class="d-flex align-items-center flex-column portfolio mb-0 bg-white">
    <h1 class="masthead-heading text-uppercase mb-0" style="color:black;" id="Opener">Urodziny przyjaciół</h1>
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <div id="addFriendBirthday">@{Html.RenderPartial("_AddFriendBirthday", Model);}</div>

    @{ if (Model.FriendsBirthdays.Count() < 12)
        {
            using (Ajax.BeginForm("Index", "Birthday", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "_AddFriendBirthday" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "addFriendBirthday" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px", id = "addformFriendBirthday" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                {
                    <div class="form-group">
                        <div class="col-md-10" style="margin-left: auto; margin-right: auto; float: none!important;">
                            @Html.Label("Imie i nazwisko:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                            @Html.TextBox("friendBirthdayName", null, new { placeholder = "Tu wpisz imię oraz nazwisko", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;", required = string.Empty })
                            @Html.TextBox("friendBirthdayDate", null, new { @type = "date", @class = " datepicker", @style = "font-size:25px; margin-top:5px", required = string.Empty })
                        </div>
                    </div>
                }
                <div style="padding-bottom:50px; padding-top:20px;">
                    <div class="saveButtonDiv">
                        <button style="font-size:20px; color:white;" type="submit" class="btn btn-xl btn-outline-info btn-secondary" id="saveButtonFriendBirthday">Zapisz</button>
                    </div>
                    <div class="saveButtonDiv" id="panelFamilyBirthay">
                        @Html.ActionLink("Panel edycyjny", "friendBirthdayEdit", "Birthday", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
                    </div>
                </div>
            }
        }
        else
        {
            <div style="font-size:25px; color:black;" class="mr-1">Osiągnięto maksymalną ilość osób, wejdź w opcje by edytować</div>
        }
    }
    <div class="saveButtonDiv" id="panelFriendBirthay2">
        @Html.ActionLink("Panel edycyjny", "friendBirthdayEdit", "Birthday", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
    </div>
</div>

<div class="d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">
    <h1 class="masthead-heading text-uppercase mb-0" id="Opener">Urodziny innych</h1>
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="        font-size: 55px;
        color: white !important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>

    <div id="addOtherBirthday">@{Html.RenderPartial("_AddOtherBirthday", Model);}</div>

    @{ if (Model.OthersBirthdays.Count() < 12)
        {
            using (Ajax.BeginForm("Index", "Birthday", new { ReturnUrl = ViewBag.ReturnUrl, UpdateTargetId = "addOtherBirthday" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "addOtherBirthday" }, new { @class = "form-horizontal col-md-11 col-s-5 col-lg-8", role = "form", style = " text-align: center; color:black; font-size:25px", id = "addformOtherBirthday" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                {
                    <div class="form-group">
                        <div class="col-md-10" style="margin-left: auto; margin-right: auto; float: none!important;">
                            @Html.Label("Imie i nazwisko:", new { @class = "control-label", style = "margin-left:auto; margin-right:auto; display:inline-block; float:none;" })
                            @Html.TextBox("otherBirthdayName", null, new { placeholder = "Tu wpisz imię oraz nazwisko", @class = "form-control", style = "float:none!important; display:inline-block; font-size:25px;", required = string.Empty })
                            @Html.TextBox("otherBirthdayDate", null, new { @type = "date", @class = " datepicker", @style = "font-size:25px; margin-top:5px", required = string.Empty })
                        </div>
                    </div>
                }
                <div style="padding-bottom:50px; padding-top:20px;">
                    <div class="saveButtonDiv">
                        <button style="font-size:20px; color:white;" type="submit" class="btn btn-xl btn-outline-info btn-secondary" id="saveButtonOtherBirthday">Zapisz</button>
                    </div>
                    <div class="saveButtonDiv" id="panelOtherBirthay">
                        @Html.ActionLink("Panel edycyjny", "OtherBirthdayEdit", "Birthday", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
                    </div>
                </div>
            }
        }
        else
        {
            <div style="font-size:25px; color:black;" class="mr-1">Osiągnięto maksymalną ilość osób, wejdź w opcje by edytować</div>
        }
    }
    <div class="saveButtonDiv" id="panelOtherBirthay2">
        @Html.ActionLink("Panel edycyjny", "OtherBirthdayEdit", "Birthday", null, new { @class = "btn btn-xl btn-outline-info btn-secondary", style = "font-size:20px; color:white;" })
    </div>
</div>

@section Scripts
{
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    var amountOfFamilyBirthday = @Model.FamilyBirthdays.Count();
    var amountOfFriendBirthday = @Model.FriendsBirthdays.Count();
    var amountOfOtherBirthday = @Model.OthersBirthdays.Count();

    $(document).ready(function () {
        if (@Model.FamilyBirthdays.Count() <= 11) {
            $("#panelFamilyBirthay2").hide();
        }
        if (@Model.FamilyBirthdays.Count() == 0) {
            $("#panelFamilyBirthay").hide();
        }

         if (@Model.FriendsBirthdays.Count() <= 11) {
            $("#panelFriendBirthay2").hide();
        }
        if (@Model.FriendsBirthdays.Count() == 0) {
            $("#panelFriendBirthay").hide();
        }

        if (@Model.OthersBirthdays.Count() <= 11) {
            $("#panelOtherBirthay2").hide();
        }
        if (@Model.OthersBirthdays.Count() == 0) {
            $("#panelOtherBirthay").hide();
        }
    });

      $('#saveButtonFamilyBirthday').click(function (e) {
        $.ajax({
            success: function (data) {
                amountOfFamilyBirthday++;

                if (amountOfFamilyBirthday > 11) {
                    $("#addformFamilyBirthday").html("Osiągnięto maksymalną ilość osób, wejdź w opcje by edytować");
                    $("#panelFamilyBirthay2").show();
                }
                if (amountOfFamilyBirthday > 0) {
                    $("#panelFamilyBirthay").show();
                }
            },
        });
      });

     $('#saveButtonFriendBirthday').click(function (e) {
        $.ajax({
            success: function (data) {
                amountOfFriendBirthday++;

                if (amountOfFriendBirthday > 11) {
                    $("#addformFriendBirthday").html("Osiągnięto maksymalną ilość osób, wejdź w opcje by edytować");
                    $("#panelFriendBirthay2").show();
                }
                if (amountOfFriendBirthday > 0) {
                    $("#panelFriendBirthay").show();
                }
            },
        });
     });

      $('#saveButtonOtherBirthday').click(function (e) {
        $.ajax({
            success: function (data) {
                amountOfOtherBirthday++;

                if (amountOfOtherBirthday > 11) {
                    $("#addformOtherBirthday").html("Osiągnięto maksymalną ilość osób, wejdź w opcje by edytować");
                    $("#panelOtherBirthay2").show();
                }
                if (amountOfOtherBirthday > 0) {
                    $("#panelOtherBirthay").show();
                }
            },
        });
      });

</script>

